## Schizophrenia (GSE74193)

In [2]:
import pandas as pd
%cd Z:\Project_Top2B\April_2023\diseasewise\schiz
    
dfh = pd.read_csv('236CpG_List.csv')
df1 = pd.read_csv('GSE74193_Top2b_Schiz_Trans.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE74193_236CpG_Schiz.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\diseasewise\schiz
(4605, 226)
(236, 226)

,CpG,Sample169,Sample173,Sample179,Sample184,Sample195,Sample196,Sample197,Sample204,Sample208,...,Sample660,Sample663,Sample664,Sample665,Sample666,Sample667,Sample668,Sample669,Sample674,Sample675
0,cg00302494,0.153119,0.155559,0.151029,0.152391,0.145538,0.147019,0.154561,0.163441,0.148266,...,0.177356,0.190923,0.177151,0.181544,0.193487,0.178862,0.159063,0.201671,0.182720,0.200483
1,cg00313401,0.140585,0.139871,0.144172,0.146081,0.162907,0.165132,0.148190,0.145186,0.149741,...,0.173514,0.189374,0.166458,0.196837,0.166557,0.222373,0.183996,0.172593,0.162689,0.198155

## AD (GSE80970, GSE66351, GSE109627)

In [3]:
%cd Z:\Project_Top2B\April_2023\diseasewise\AD
    
dfh = pd.read_csv('236CpG_List.csv')
df1 = pd.read_csv('GSE80970_AD_Top2b_Age_Trans.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE80970_236CpG_AD.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\diseasewise\AD
(4605, 149)
(236, 149)

,CpG,GSM2139163,GSM2139165,GSM2139168,GSM2139169,GSM2139172,GSM2139173,GSM2139174,GSM2139175,GSM2139176,...,GSM2139436,GSM2139437,GSM2139439,GSM2139440,GSM2139441,GSM2139442,GSM2139444,GSM2139445,GSM2139446,GSM2139447
0,cg00302494,0.19419,0.24864,0.23485,0.21308,0.23034,0.18003,0.19965,0.2304,0.20361,...,0.22634,0.17642,0.20962,0.21084,0.20583,0.20598,0.21956,0.22921,0.23893,0.21810
1,cg00313401,0.19438,0.18274,0.21413,0.21169,0.20611,0.24342,0.15828,0.2022,0.14993,...,0.16674,0.20152,0.16395,0.16450,0.15156,0.18403,0.17717,0.17018,0.20957,0.19597

In [4]:
dfh = pd.read_csv('236CpG_List.csv')
df1 = pd.read_csv('GSE66351_AD_Top2b_Age_Trans.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE66351_236CpG_AD.csv', index = False)
df1m.head(2)

(4586, 107)
(236, 107)

,CpG,GSM2808875,GSM2808876,GSM2808877,GSM2808878,GSM2808879,GSM2808880,GSM2808881,GSM2808882,GSM2808883,...,GSM2809052,GSM2809053,GSM2809054,GSM2809058,GSM2809059,GSM2809060,GSM2809061,GSM2809062,GSM2809063,GSM2809064
0,cg00302494,0.17764,0.20045,0.17429,0.15713,0.16320,0.15349,0.19728,0.16154,0.20618,...,0.17798,0.16356,0.16833,0.14555,0.18936,0.15711,0.15802,0.14757,0.16173,0.16280
1,cg00313401,0.16819,0.18242,0.15498,0.19662,0.17672,0.18081,0.14409,0.17383,0.19100,...,0.14904,0.15111,0.14096,0.15941,0.13551,0.16642,0.15392,0.14273,0.13482,0.20677

In [5]:
df1 = pd.read_csv('GSE109627_AD_Top2b_Age_Trans.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE109627_236CpG_AD.csv', index = False)
df1m.head(2)

(4605, 92)
(236, 92)

,CpG,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,SAMPLE_13,SAMPLE_14,...,SAMPLE_149,SAMPLE_150,SAMPLE_151,SAMPLE_152,SAMPLE_153,SAMPLE_155,SAMPLE_157,SAMPLE_158,SAMPLE_161,SAMPLE_162
0,cg00302494,0.207549,0.208510,0.215158,0.254607,0.248025,0.206886,0.213201,0.198749,0.241711,...,0.266338,0.195523,0.137860,0.162332,0.165809,0.185484,0.215410,0.222525,0.194961,0.147440
1,cg00313401,0.185073,0.211689,0.224304,0.158274,0.255979,0.240565,0.201224,0.188076,0.162885,...,0.143555,0.150954,0.143146,0.157975,0.128084,0.160697,0.173594,0.176877,0.166481,0.162996

## Other Diseased

In [7]:
# GSE40360_MS
%cd Z:\Project_Top2B\April_2023\Individual_Files\GSE40360
    
dfh = pd.read_csv('236CpG_List.csv')
df1 = pd.read_csv('GSE40360_MS_Top2b_RAW.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE40360_236CpG_MS.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\Individual_Files\GSE40360
(4604, 28)
(236, 28)

,CpG,GSM991991,GSM992001,GSM992005,GSM991997,GSM991994,GSM991988,GSM991987,GSM992000,GSM991989,...,GSM992012,GSM991999,GSM991993,GSM992010,GSM992011,GSM992008,GSM991995,GSM991986,GSM992003,GSM991998
0,cg00302494,0.117819,0.137484,0.127314,0.121996,0.118643,0.152778,0.144620,0.142792,0.141755,...,0.108806,0.146982,0.124483,0.142947,0.115693,0.131143,0.12411,0.143907,0.122760,0.116925
1,cg00313401,0.135737,0.130056,0.113801,0.147182,0.103217,0.142697,0.145079,0.130985,0.123948,...,0.114099,0.139059,0.117204,0.115957,0.126981,0.119308,0.12956,0.144091,0.129587,0.138907

In [9]:
# GSE53162_Auti
%cd Z:\Project_Top2B\April_2023\Individual_Files\GSE53162
    
df1 = pd.read_csv('GSE53162_Auti_Top2b_RAW.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE53162_236CpG_Auti.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\Individual_Files\GSE53162
(4604, 20)
(236, 20)

,CpG,GSM1283236,GSM1283234,GSM1283250,GSM1283244,GSM1283254,GSM1283259,GSM1283265,GSM1283263,GSM1283264,GSM1283267,GSM1283261,GSM1283255,GSM1283238,GSM1283266,GSM1283253,GSM1283262,GSM1283239,GSM1283260,GSM1283241
0,cg00302494,0.139931,0.112431,0.130639,0.109306,0.147054,0.100196,0.122963,0.122393,0.087214,0.101703,0.081057,0.172386,0.128739,0.105419,0.134977,0.093473,0.111107,0.130514,0.12471
1,cg00313401,0.135227,0.130413,0.128111,0.154165,0.128056,0.133418,0.135567,0.133108,0.128092,0.115197,0.117723,0.130251,0.127286,0.136496,0.142479,0.127401,0.125300,0.138163,0.13506

In [10]:
# GSE59457_HIV
%cd Z:\Project_Top2B\April_2023\Individual_Files\GSE59457

df1 = pd.read_csv('GSE59457_HIV_Top2b.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE59457_236_HIV.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\Individual_Files\GSE59457
(4604, 24)
(236, 24)

,CpG,GSM1438133,GSM1438127,GSM1438135,GSM1438141,GSM1438142,GSM1438139,GSM1438130,GSM1438131,GSM1438134,...,GSM1438145,GSM1438143,GSM1438136,GSM1438132,GSM1438146,GSM1438138,GSM1438129,GSM1438144,GSM1438147,GSM1438149
0,cg00302494,0.123954,0.063418,0.140483,0.115238,0.199083,0.236927,0.155882,0.149522,0.148992,...,0.152047,0.143179,0.102605,0.163371,0.154189,0.147130,0.176632,0.094262,0.156887,0.078991
1,cg00313401,0.146858,0.097288,0.151439,0.128769,0.091821,0.101040,0.140051,0.131233,0.113482,...,0.122567,0.131748,0.111874,0.088477,0.130256,0.130999,0.160620,0.108698,0.156046,0.106784

In [11]:
# GSE67748_HIV
%cd Z:\Project_Top2B\April_2023\Individual_Files\GSE67748

df1 = pd.read_csv('GSE67748_HIV_Top2b.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE67748_236CpG_HIV.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\Individual_Files\GSE67748
(4604, 8)
(236, 8)

,CpG,GSM1655148,GSM1655149,GSM1655150,GSM1655144,GSM1655145,GSM1655146,GSM1655147
0,cg00302494,0.139936,0.093674,0.094808,0.096321,0.126629,0.125318,0.100205
1,cg00313401,0.177972,0.130782,0.118388,0.112148,0.134568,0.152759,0.114711

In [14]:
# GSE67749_HIV
%cd Z:\Project_Top2B\April_2023\Individual_Files\GSE67749

df1 = pd.read_csv('GSE67749_HIV_Top2b_Trans.csv')
print(df1.shape)

df1m = pd.merge(dfh, df1, on = 'CpG', how = 'inner')
print(df1m.shape)
df1m.to_csv ('GSE67749_236_All.csv', index = False)
df1m.head(2)

Z:\Project_Top2B\April_2023\Individual_Files\GSE67749
(4605, 9)
(236, 9)

,CpG,GSM1655152,GSM1655153,GSM1655154,GSM1655155,GSM1655156,GSM1655157,GSM1655158,GSM1655159
0,cg00302494,0.124430,0.199625,0.187522,0.163723,0.137345,0.154306,0.143404,0.113960
1,cg00313401,0.123811,0.167619,0.168245,0.122615,0.141327,0.110302,0.150205,0.141423