In [1]:
import numpy as np
import pandas as pd

In [2]:
%cd Z:\Project_Top2B\April_2023\diseasewise\AD
data = pd.read_csv('Merged_AD_Top2B_Age.csv')
data = data.drop(['CpG'], axis = 1)
data.head(1)

Z:\Project_Top2B\April_2023\diseasewise\AD

,Age,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,cg00034416,cg00034611,cg00041368,cg00048759,...,cg27551895,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658967,cg27664120
0,54.0,0.015858,0.940698,0.940097,0.041606,0.017108,0.016948,0.932196,0.94554,0.254107,...,0.10933,0.031993,0.048454,0.028968,0.073151,0.962882,0.936481,0.185976,0.03027,0.931602

In [3]:
# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("Merged_AD_Top2B_AgeMean.csv", index = False)
data.head(2)

,Age,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,cg00034416,cg00034611,cg00041368,cg00048759,...,cg27551895,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658967,cg27664120
0,54.0,0.015858,0.940698,0.940097,0.041606,0.017108,0.016948,0.932196,0.945540,0.254107,...,0.109330,0.031993,0.048454,0.028968,0.073151,0.962882,0.936481,0.185976,0.030270,0.931602
1,57.0,0.018462,0.924326,0.945213,0.037173,0.021360,0.013821,0.937927,0.954782,0.264466,...,0.087679,0.027671,0.044006,0.042350,0.077475,0.961355,0.954541,0.182689,0.058582,0.914764