## Schiz

In [5]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\diseasewise\schiz

df1 = pd.read_csv('GSE61380_Top2b_Schiz_Trans.csv')
df2 = pd.read_csv('GSE61431_Top2b_Schiz_Trans.csv')
df3 = pd.read_csv('GSE74193_Top2b_Schiz_Trans.csv')
df4 = pd.read_csv('GSE89702_Top2b_Schiz_Trans.csv')

Z:\Project_Top2B\April_2023\diseasewise\schiz

In [6]:
from functools import reduce

df_list = [df1, df2, df3, df4]

df_merged = reduce(lambda left, right: pd.merge(left, right, on=['CpG'], how='inner'), df_list)
df_merged.fillna('void', inplace=True)

# Drop columns containing ':' in their names
df_merged.drop([col for col in df_merged.columns if ':' in col], axis=1, inplace=True)

In [7]:
print(df_merged.shape)
df_merged.head(2)

(4071, 300)

,CpG,GSM1503514,GSM1503515,GSM1503516,GSM1503517,GSM1503518,GSM1503519,GSM1503520,GSM1503521,GSM1503522,...,GSM2387033,GSM2387034,GSM2387035,GSM2387038,GSM2387039,GSM2387041,GSM2387043,GSM2387049,GSM2387050,GSM2387051
0,Age,24.000000,26.000000,29.000000,29.000000,30.000000,32.000000,33.000000,38.000000,39.000000,...,29.000000,26.000000,29.000000,69.000000,50.000000,32.000000,65.000000,70.000000,39.000000,47.000000
1,cg00005072,0.649323,0.675431,0.709357,0.671921,0.645406,0.668023,0.727525,0.637411,0.689505,...,0.822815,0.821476,0.797755,0.811635,0.795568,0.787053,0.804333,0.821071,0.769289,0.817665

In [8]:
df_merged.to_csv('Merged_Schiz_Top2B.csv', index=False)

## AD

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\diseasewise\AD

df1 = pd.read_csv('GSE134379_mtg_AD_Top2b_Age_Trans.csv')
df2 = pd.read_csv('GSE134379_cb_AD_Top2b_Age_Trans.csv')
df3 = pd.read_csv('GSE76105_AD_Top2b_Age_Trans.csv')
df4 = pd.read_csv('GSE80970_AD_Top2b_Age_Trans.csv')
df5 = pd.read_csv('GSE125895_AD_Top2b_Age_Trans.csv')
df6 = pd.read_csv('GSE66351_AD_Top2b_Age_Trans.csv')
df7 = pd.read_csv('GSE109627_AD_Top2b_Age_Trans.csv')
df8 = pd.read_csv('GSE105109_AD_Top2b_Age_Trans.csv')

Z:\Project_Top2B\April_2023\diseasewise\AD

In [2]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8]

df_merged = reduce(lambda left, right: pd.merge(left, right, on=['CpG'], how='inner'), df_list)
df_merged.fillna('void', inplace=True)

# Drop columns containing ':' in their names
df_merged.drop([col for col in df_merged.columns if ':' in col], axis=1, inplace=True)

print(df_merged.shape)
df_merged.head(2)

(3270, 994)

,CpG,MTG_0008,MTG_0022,MTG_0102,MTG_0107,MTG_0112,MTG_0121,MTG_0133,MTG_0219,MTG_0239,...,3999510117_R02C02,3998567107_R03C01,3998567107_R03C02,3998920160_R01C02,3998567094_R02C01,3998567094_R02C02,3999337055_R03C01,3999337055_R03C02,3998567035_R03C01,3998567035_R03C02
0,Age,78.000000,78.00000,87.000000,77.000000,82.000000,75.000000,79.00000,76.000000,85.000000,...,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,97.000000,97.000000,97.000000,97.000000
1,cg00018024,0.019834,0.01732,0.018794,0.016304,0.016558,0.013646,0.01607,0.017689,0.016967,...,0.052716,0.051568,0.052376,0.058892,0.058426,0.067049,0.055876,0.056503,0.059701,0.060557

In [3]:
df_merged.to_csv('Merged_AD_Top2B.csv', index=False)