In [4]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\Horvath\Healthy_236

df1 = pd.read_csv('GSE40360_236CpG_Healthy_Age.csv')
df2 = pd.read_csv('GSE53162_236CpG_Healthy_Age.csv')
df3 = pd.read_csv('GSE59457_236_Healthy_Age.csv')
df4 = pd.read_csv('GSE64509_236_Healthy_Age.csv')
df5 = pd.read_csv('GSE66351_236CpG_Healthy_Age.csv')
df6 = pd.read_csv('GSE67748_236CpG_Healthy_Age.csv')
df7 = pd.read_csv('GSE67749_236_Healthy_Age.csv')
df8 = pd.read_csv('GSE74193_236CpG_Healthy_Age.csv')
df9 = pd.read_csv('GSE80970_236CpG_Healthy_Age.csv')
df10 = pd.read_csv('GSE109627_236CpG_Healthy_Age.csv')

Z:\Project_Top2B\April_2023\Horvath\Healthy_236

In [5]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df9 = df9.transpose()
df9.columns = df9.iloc[0]
df9 = df9.iloc [1:, :]

df10 = df10.transpose()
df10.columns = df10.iloc[0]
df10 = df10.iloc [1:, :]

df10.head(2)

CpG,SAMPLE_10,SAMPLE_102,SAMPLE_103,SAMPLE_105,SAMPLE_108,SAMPLE_11,SAMPLE_111,SAMPLE_112,SAMPLE_113,SAMPLE_114,...,SAMPLE_73,SAMPLE_77,SAMPLE_78,SAMPLE_83,SAMPLE_85,SAMPLE_88,SAMPLE_89,SAMPLE_93,SAMPLE_96,SAMPLE_99
Age,78,79,94,90,92,92,82,81,79,94,...,85,86,85,89,81,92,77,87,77,90
cg00302494,0.210506,0.151507,0.1543,0.173217,0.214991,0.19305,0.163573,0.186822,0.161702,0.176224,...,0.150916,0.169871,0.157006,0.206197,0.184569,0.194548,0.197142,0.193464,0.168684,0.187376

In [6]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_236_Healthy.csv')
print(df_merged.shape)
df_merged.head(2)

(237, 1046)

CpG,GSM992014,GSM992015,GSM992016,GSM992017,GSM992018,GSM992019,GSM992020,GSM992021,GSM992022,GSM992023,...,SAMPLE_73,SAMPLE_77,SAMPLE_78,SAMPLE_83,SAMPLE_85,SAMPLE_88,SAMPLE_89,SAMPLE_93,SAMPLE_96,SAMPLE_99
Age,54.000000,76.000000,71.000000,72,79.000000,59,73,64.000000,58.000000,68.000000,...,85.000000,86.000000,85.000000,89.000000,81.000000,92.000000,77.000000,87.000000,77.000000,90.000000
cg00302494,0.153676,0.149464,0.155294,0.145942,0.142947,0.142251,0.166547,0.172727,0.133278,0.173041,...,0.150916,0.169871,0.157006,0.206197,0.184569,0.194548,0.197142,0.193464,0.168684,0.187376

In [8]:
import numpy as np

data = pd.read_csv('Merged_236_Healthy_Age.csv')
data = data.drop(['Age'], axis = 1)

# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("Merged_236_Healthy_Mean.csv", index = False)
data.head(2)

,cg00302494,cg00313401,cg00357610,cg00370293,cg00400263,cg00474746,cg00502509,cg00751072,cg01021045,cg01039763,...,cg26546105,cg26890189,cg26958558,cg27038935,cg27052113,cg27108600,cg27355141,cg27431596,cg27494429,cg27624319
0,0.106197,0.153939,0.103018,0.199873,0.909171,0.215986,0.942767,0.349712,0.145340,0.543984,...,0.098707,0.035070,0.176199,0.093124,0.085338,0.177044,0.237264,0.141976,0.807999,0.273216
1,0.126356,0.141664,0.127667,0.204159,0.885601,0.321307,0.909237,0.361948,0.094694,0.604721,...,0.114436,0.024824,0.110408,0.107695,0.075083,0.063175,0.274913,0.197129,0.811906,0.473848