In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\diseasewise\AD

df1 = pd.read_csv('GSE109627_236CpG_AD.csv')
df2 = pd.read_csv('GSE66351_236CpG_AD.csv')
df3 = pd.read_csv('GSE80970_236CpG_AD.csv')

df3.head(2)

Z:\Project_Top2B\April_2023\diseasewise\AD

,CpG,GSM2139163,GSM2139165,GSM2139168,GSM2139169,GSM2139172,GSM2139173,GSM2139174,GSM2139175,GSM2139176,...,GSM2139436,GSM2139437,GSM2139439,GSM2139440,GSM2139441,GSM2139442,GSM2139444,GSM2139445,GSM2139446,GSM2139447
0,Age,89.00000,94.00000,84.00000,85.00000,86.00000,87.00000,88.00000,100.0000,73.00000,...,86.00000,99.00000,79.00000,91.00000,90.00000,95.00000,100.00000,84.00000,95.00000,83.0000
1,cg00302494,0.19419,0.24864,0.23485,0.21308,0.23034,0.18003,0.19965,0.2304,0.20361,...,0.22634,0.17642,0.20962,0.21084,0.20583,0.20598,0.21956,0.22921,0.23893,0.2181

In [2]:
from functools import reduce

df_list = [df1, df2, df3]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_236_AD_Trans.csv')
print(df_merged.shape)
df_merged.head(2)

(237, 348)

,CpG_x,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,SAMPLE_13,SAMPLE_14,...,GSM2139436,GSM2139437,GSM2139439,GSM2139440,GSM2139441,GSM2139442,GSM2139444,GSM2139445,GSM2139446,GSM2139447
0,Age,82.000000,75.00000,90.000000,81.000000,91.000000,72.000000,82.000000,87.000000,94.000000,...,86.00000,99.00000,79.0,91.0,90.0,95.0,100.0,84.0,95.0,83.0
1,cg00302494,0.207549,0.20851,0.215158,0.254607,0.248025,0.206886,0.213201,0.198749,0.241711,...,0.22634,0.17642,0.20962,0.21084,0.20583,0.20598,0.21956,0.22921,0.23893,0.2181

In [4]:
import numpy as np

data = pd.read_csv('Merged_236_AD_Age.csv')
data = data.drop(['Age'], axis = 1)

# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("Merged_236_AD_Age_Mean.csv", index = False)
data.head(2)

,cg00302494,cg00313401,cg00357610,cg00370293,cg00400263,cg00474746,cg00502509,cg00751072,cg01021045,cg01039763,...,cg26546105,cg26890189,cg26958558,cg27038935,cg27052113,cg27108600,cg27355141,cg27431596,cg27494429,cg27624319
0,0.14614,0.18709,0.110050,0.27682,0.8371,0.27451,0.94812,0.30735,0.026055,0.78037,...,0.23472,0.041386,0.018361,0.072512,0.018387,0.090670,0.4795,0.000000,0.79392,0.30936
1,0.14754,0.16963,0.089844,0.25310,0.8556,0.23654,0.94997,0.28797,0.041782,0.76431,...,0.19648,0.051540,0.039780,0.106890,0.037010,0.098919,0.5165,0.001629,0.80327,0.31325