In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\Diseased_All

df1 = pd.read_csv('GSE40360_MS_Top2b.csv')
df2 = pd.read_csv('GSE53162_Auti_Top2b.csv')
df3 = pd.read_csv('GSE59457_HIV_Top2b_Age.csv')
df4 = pd.read_csv('GSE61380_Schiz_Top2b.csv')
df5 = pd.read_csv('GSE61431_Schiz_Top2b.csv')
df6 = pd.read_csv('GSE66351_AD_Top2b_Age.csv')
df7 = pd.read_csv('GSE67748_HIV_Top2b_Age.csv')
df8 = pd.read_csv('GSE67749_Top2b_HIV_fl.csv')
df9 = pd.read_csv('GSE74193_Top2b_Schiz.csv')
df10 = pd.read_csv('GSE76105_AD_Top2b.csv')
df11 = pd.read_csv('GSE80970_AD_Top2b.csv')
df12 = pd.read_csv('GSE89702_Top2b_Schiz_Age.csv')
df13 = pd.read_csv('GSE105109_AD_Top2b_Age.csv')
df14 = pd.read_csv('GSE109627_AD_Top2b_Age.csv')
df15 = pd.read_csv('GSE125895_AD_Top2b_Age.csv')
df16 = pd.read_csv('GSE134379_cb_Top2b_Age.csv')
df17 = pd.read_csv('GSE134379_mtg_Top2b_Age.csv')
#df18 = pd.read_csv('GSE151355_PD_Top2b_Age.csv')

Z:\Project_Top2B\April_2023\Diseased_All

C:\Users\system 4\AppData\Local\Temp\ipykernel_11872\2030314709.py:14: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df10 = pd.read_csv('GSE76105_AD_Top2b.csv')

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df9 = df9.transpose()
df9.columns = df9.iloc[0]
df9 = df9.iloc [1:, :]

df10 = df10.transpose()
df10.columns = df10.iloc[0]
df10 = df10.iloc [1:, :]

df11 = df11.transpose()
df11.columns = df11.iloc[0]
df11 = df11.iloc [1:, :]

df12 = df12.transpose()
df12.columns = df12.iloc[0]
df12 = df12.iloc [1:, :]

df13 = df13.transpose()
df13.columns = df13.iloc[0]
df13 = df13.iloc [1:, :]

df14 = df14.transpose()
df14.columns = df14.iloc[0]
df14 = df14.iloc [1:, :]

df15 = df15.transpose()
df15.columns = df15.iloc[0]
df15 = df15.iloc [1:, :]

df16 = df16.transpose()
df16.columns = df16.iloc[0]
df16 = df16.iloc [1:, :]

df17 = df17.transpose()
df17.columns = df17.iloc[0]
df17 = df17.iloc [1:, :]

df17.head(2)

CpG,MTG_0003,MTG_0015,MTG_0034,MTG_0038,MTG_0049,MTG_0053,MTG_0114,MTG_0123,MTG_0131,MTG_0136,...,MTG_9929,MTG_9931,MTG_9944,MTG_9946,MTG_9947,MTG_9950,MTG_9954,MTG_9958,MTG_9959,MTG_9966
Age,94,94,85,91,86,83,78,94,81,86,...,81,85,69,84,84,73,86,91,78,74
cg00005072,0.706821,0.764827,0.679491,0.784971,0.639278,0.757121,0.642959,0.806184,0.733001,0.816098,...,0.738881,0.866407,0.711935,0.715323,0.73236,0.739697,0.761484,0.711735,0.723384,0.771815

In [3]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_Top2B_Diseased.csv')
print(df_merged.shape)
df_merged.head(2)

(3194, 5177)

CpG,GSM991986,GSM991987,GSM991988,GSM991989,GSM991990,GSM991991,GSM991992,GSM991993,GSM991994,GSM991995,...,MTG_9929,MTG_9931,MTG_9944,MTG_9946,MTG_9947,MTG_9950,MTG_9954,MTG_9958,MTG_9959,MTG_9966
Age,63,74,64,50,42,54,35,49.000000,51,75,...,81.000000,85.000000,69.000000,84.000000,84.000000,73.000000,86.000000,91.000000,78.00000,74.000000
cg00018024,0.002485,0.003241,0.0,0.010778,0.004514,0.014394,0.004878,0.005156,0.007917,0.0,...,0.017675,0.022037,0.018922,0.024335,0.013669,0.017183,0.018574,0.015222,0.01493,0.015373