In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\Healthy

df1 = pd.read_csv('GSE53162_Top2b_tl.csv')
df2 = pd.read_csv('GSE59457_Top2b_tl.csv')
df3 = pd.read_csv('GSE64509_Top2b_tl.csv')
df4 = pd.read_csv('GSE76105_Top2b_tl.csv')
df5 = pd.read_csv('GSE80970_Top2b_tl.csv')
df6 = pd.read_csv('GSE105109_Top2b_tl.csv')
df7 = pd.read_csv('GSE109627_Top2b_tl.csv')
df8 = pd.read_csv('GSE125895_Top2b_tl.csv')
df9 = pd.read_csv('GSE134379_Top2b_tl.csv')

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\Healthy

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df9 = df9.transpose()
df9.columns = df9.iloc[0]
df9 = df9.iloc [1:, :]

df9.head(2)

Sample_ID,MTG_0003,MTG_0015,MTG_0034,MTG_0038,MTG_0049,MTG_0053,MTG_0114,MTG_0123,MTG_0131,MTG_0136,...,MTG_9929,MTG_9931,MTG_9944,MTG_9946,MTG_9947,MTG_9950,MTG_9954,MTG_9958,MTG_9959,MTG_9966
Age,94,94,85,91,86,83,78,94,81,86,...,81,85,69,84,84,73,86,91,78,74
cg00005072,0.706821,0.764827,0.679491,0.784971,0.639278,0.757121,0.642959,0.806184,0.733001,0.816098,...,0.738881,0.866407,0.711935,0.715323,0.73236,0.739697,0.761484,0.711735,0.723384,0.771815

In [3]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)
df_merged.to_csv('Merged_Top2B_Temporal.csv')
print(df_merged.shape)
df_merged.head(2)

(3314, 575)

Sample_ID,GSM1283245,GSM1283246,GSM1283247,GSM1283248,GSM1283249,GSM1283251,GSM1283252,GSM1283256,GSM1283257,GSM1283258,...,MTG_9929,MTG_9931,MTG_9944,MTG_9946,MTG_9947,MTG_9950,MTG_9954,MTG_9958,MTG_9959,MTG_9966
Age,22.000000,36.000000,32.000000,50.000000,56.000000,51.000000,24.000000,41.00000,28.000000,56.000000,...,81.000000,85.000000,69.000000,84.000000,84.000000,73.000000,86.000000,91.000000,78.00000,74.000000
cg00018024,0.072326,0.058923,0.038421,0.052732,0.089111,0.079431,0.056546,0.07752,0.052379,0.059466,...,0.017675,0.022037,0.018922,0.024335,0.013669,0.017183,0.018574,0.015222,0.01493,0.015373