In [1]:
import pandas as pd

In [2]:
%cd Z:\Project_Top2B\Clocks_Analysis\GSE134379
df = pd.read_csv("GSE134379_processedSamples_mtgAD.txt",delimiter="\t")
print(df.shape)

Z:\Project_Top2B\Clocks_Analysis\GSE134379
(389849, 450)

In [3]:
df1 = pd.DataFrame(df)
print(df1.shape)
df1.head(2)

(389849, 450)

,Beta value for MTG 03--04,Detection P Value,Beta value for MTG 08--89,Detection P Value.1,Beta value for MTG 08--22,Detection P Value.2,Beta value for MTG 08--05,Detection P Value.3,Beta value for MTG 08--10,Detection P Value.4,...,Beta value for MTG 03--53,Detection P Value.220,Beta value for MTG 96--04,Detection P Value.221,Beta value for MTG 92--16,Detection P Value.222,Beta value for MTG 97--08,Detection P Value.223,Beta value for MTG 04--33,Detection P Value.224
cg13869341,0.847850,0.847850,0.897352,0.897352,0.927881,0.927881,0.917184,0.917184,0.938105,0.938105,...,0.927252,0.927252,0.941117,0.941117,0.916523,0.916523,0.895825,0.895825,0.886957,0.886957
cg14008030,0.719358,0.719358,0.758621,0.758621,0.749538,0.749538,0.695128,0.695128,0.771905,0.771905,...,0.659055,0.659055,0.719719,0.719719,0.738422,0.738422,0.690326,0.690326,0.774076,0.774076

In [4]:
df = df1[df1.columns.drop(list(df1.filter(regex='Detection')))]
print(df.shape)
df.head(2)

(389849, 225)

,Beta value for MTG 03--04,Beta value for MTG 08--89,Beta value for MTG 08--22,Beta value for MTG 08--05,Beta value for MTG 08--10,Beta value for MTG 08--48,Beta value for MTG 08--29,Beta value for MTG 08--30,Beta value for MTG 08--46,Beta value for MTG 01--21,...,Beta value for MTG 07--64,Beta value for MTG 03--19,Beta value for MTG 00--54,Beta value for MTG 00--13,Beta value for MTG 05--37,Beta value for MTG 03--53,Beta value for MTG 96--04,Beta value for MTG 92--16,Beta value for MTG 97--08,Beta value for MTG 04--33
cg13869341,0.847850,0.897352,0.927881,0.917184,0.938105,0.877948,0.938322,0.931306,0.894391,0.887131,...,0.832093,0.834346,0.893885,0.909658,0.845378,0.927252,0.941117,0.916523,0.895825,0.886957
cg14008030,0.719358,0.758621,0.749538,0.695128,0.771905,0.667136,0.782372,0.735174,0.748289,0.815966,...,0.782364,0.771584,0.690381,0.789165,0.711638,0.659055,0.719719,0.738422,0.690326,0.774076

In [5]:
df.columns = df.columns.str.replace('Beta value for MTG', '')

In [6]:
df.head(2)

,03--04,08--89,08--22,08--05,08--10,08--48,08--29,08--30,08--46,01--21,...,07--64,03--19,00--54,00--13,05--37,03--53,96--04,92--16,97--08,04--33
cg13869341,0.847850,0.897352,0.927881,0.917184,0.938105,0.877948,0.938322,0.931306,0.894391,0.887131,...,0.832093,0.834346,0.893885,0.909658,0.845378,0.927252,0.941117,0.916523,0.895825,0.886957
cg14008030,0.719358,0.758621,0.749538,0.695128,0.771905,0.667136,0.782372,0.735174,0.748289,0.815966,...,0.782364,0.771584,0.690381,0.789165,0.711638,0.659055,0.719719,0.738422,0.690326,0.774076

df.to_csv('GSE134379_processed.csv', index = False)

In [7]:
df.index.name ='CpG'
df.reset_index(inplace=True)
df.head(3)

,CpG,03--04,08--89,08--22,08--05,08--10,08--48,08--29,08--30,08--46,...,07--64,03--19,00--54,00--13,05--37,03--53,96--04,92--16,97--08,04--33
0,cg13869341,0.847850,0.897352,0.927881,0.917184,0.938105,0.877948,0.938322,0.931306,0.894391,...,0.832093,0.834346,0.893885,0.909658,0.845378,0.927252,0.941117,0.916523,0.895825,0.886957
1,cg14008030,0.719358,0.758621,0.749538,0.695128,0.771905,0.667136,0.782372,0.735174,0.748289,...,0.782364,0.771584,0.690381,0.789165,0.711638,0.659055,0.719719,0.738422,0.690326,0.774076
2,cg12045430,0.020361,0.014020,0.019768,0.023921,0.016201,0.025245,0.027778,0.023529,0.029651,...,0.024395,0.022663,0.020992,0.023162,0.020804,0.022940,0.019996,0.062408,0.026768,0.022441

In [8]:
CpG = pd.read_csv ('Horvath1CpGs.csv')
CpG.head(2)

          CpG
0  cg00075967
1  cg00374717

In [9]:
df2 = pd.merge (CpG, df, on = 'CpG', how = 'inner')
print(df2.shape)
df2.head(2)

(315, 226)

,CpG,03--04,08--89,08--22,08--05,08--10,08--48,08--29,08--30,08--46,...,07--64,03--19,00--54,00--13,05--37,03--53,96--04,92--16,97--08,04--33
0,cg00374717,0.927004,0.897618,0.934680,0.928367,0.920225,0.829944,0.891514,0.851550,0.949182,...,0.914824,0.932279,0.887412,0.937971,0.876961,0.841553,0.885196,0.896740,0.888616,0.933132
1,cg00864867,0.088078,0.108911,0.114056,0.091484,0.092197,0.117749,0.102251,0.075435,0.069591,...,0.111276,0.069952,0.081618,0.108436,0.090274,0.102975,0.101129,0.094854,0.116389,0.087511

In [10]:
dft = df2.transpose()
dft.head(2)

,0,1,2,3,4,5,6,7,8,9,...,305,306,307,308,309,310,311,312,313,314
CpG,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,cg01968178,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
03--04,0.927004,0.088078,0.191827,0.080156,0.423306,0.759906,0.180586,0.807973,0.030489,0.104685,...,0.402201,0.084614,0.852885,0.016336,0.026321,0.079085,0.087665,0.597183,0.316922,0.093645

In [11]:
dft.rename(columns=dft.iloc[0], inplace = True)
dft.head(2)

,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,cg01968178,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
CpG,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,cg01968178,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
03--04,0.927004,0.088078,0.191827,0.080156,0.423306,0.759906,0.180586,0.807973,0.030489,0.104685,...,0.402201,0.084614,0.852885,0.016336,0.026321,0.079085,0.087665,0.597183,0.316922,0.093645

In [12]:
dft.index.name ='ID'
dft.reset_index(inplace=True)
dft.head(2)

,ID,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
0,CpG,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
1,03--04,0.927004,0.088078,0.191827,0.080156,0.423306,0.759906,0.180586,0.807973,0.030489,...,0.402201,0.084614,0.852885,0.016336,0.026321,0.079085,0.087665,0.597183,0.316922,0.093645

In [13]:
dft = dft.drop ([0], axis = 0)
dft.head(2)

,ID,cg00374717,cg00864867,cg00945507,cg01027739,cg01353448,cg01584473,cg01644850,cg01656216,cg01873645,...,cg25564800,cg25657834,cg25809905,cg26162695,cg26394940,cg26723847,cg26824091,cg27016307,cg27202708,cg27544190
1,03--04,0.927004,0.088078,0.191827,0.080156,0.423306,0.759906,0.180586,0.807973,0.030489,...,0.402201,0.084614,0.852885,0.016336,0.026321,0.079085,0.087665,0.597183,0.316922,0.093645
2,08--89,0.897618,0.108911,0.382744,0.093973,0.420803,0.927256,0.23337,0.724877,0.035583,...,0.496112,0.088443,0.835431,0.014394,0.025905,0.078873,0.099502,0.592741,0.453017,0.102358

In [14]:
dft.to_csv ("GSE134379_Horvath1CpG_Columns.csv", index = False)

In [15]:
ID_Age = pd.read_csv ('Age_ID_AD.csv')
ID_Age.head(2)

   Age      ID
0   79  00--04
1   84  00--08

In [16]:
df3 = pd.merge (ID_Age, dft, on = 'ID', how = 'inner')
print(df3.shape)
df3.head(2)

(0, 317)

Empty DataFrame
Columns: [Age, ID, cg00374717, cg00864867, cg00945507, cg01027739, cg01353448, cg01584473, cg01644850, cg01656216, cg01873645, cg01968178, cg02154074, cg02217159, cg02331561, cg02332492, cg02364642, cg02388150, cg02479575, cg02489552, cg02580606, cg02654291, cg02827112, cg02972551, cg03103192, cg03167275, cg03270204, cg03565323, cg03588357, cg03760483, cg04084157, cg04126866, cg04528819, cg04836038, cg05250458, cg05294243, cg05365729, cg05675373, cg05755779, cg05921699, cg05960024, cg06121469, cg06144905, cg06361108, cg06462291, cg06493994, cg06557358, cg06738602, cg06810647, cg06952310, cg06993413, cg07285276, cg07291563, cg07337598, cg07455279, cg07595943, cg08030082, cg08090772, cg08124722, cg08251036, cg08370996, cg08413469, cg08434234, cg08771731, cg08965235, cg09019938, cg09118625, cg09191327, cg09418283, cg09509673, cg09785172, cg09869858, cg09885951, cg10377274, cg10486998, cg10523019, cg10920957, cg11932564, cg12351433, cg12373771, cg12946225, cg13038560, cg13216057, cg13319175, cg13460409, cg13682722, cg13836627, cg13854874, cg13899108, cg13975369, cg14258236, cg14308452, cg14329157, cg14424579, cg14501253, cg14658362, cg14723032, cg14894144, cg14992253, cg15341340, ...]
Index: []

[0 rows x 317 columns]

In [17]:
dft.to_csv ("GSE134379_Horvath1CpG_Age.csv", index = False)