In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\Diseased

df1 = pd.read_csv('GSE53162_Top2b_tl_AD.csv')
df2 = pd.read_csv('GSE76105_Top2b_tl_AD.csv')
df3 = pd.read_csv('GSE80970_Top2b_tl_AD.csv')
df4 = pd.read_csv('GSE105109_Top2b_tl_AD.csv')
df5 = pd.read_csv('GSE109627_Top2b_tl_AD.csv')
df6 = pd.read_csv('GSE125895_Top2b_tl_AD.csv')
df7 = pd.read_csv('GSE134379_Top2b_tl_AD.csv')

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\Diseased

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df7.head(2)

Sample_ID,MTG_0008,MTG_0022,MTG_0102,MTG_0107,MTG_0112,MTG_0121,MTG_0133,MTG_0219,MTG_0239,MTG_0304,...,MTG_9724,MTG_9739,MTG_9806,MTG_9818,MTG_9828,MTG_9844,MTG_9913,MTG_9921,MTG_9941,MTG_9948
Age,78,78,87,77,82,75,79,76,85,81,...,84,83,78,77,86,96,83,75,91,97
cg00005072,0.721859,0.717039,0.71456,0.779235,0.806819,0.765074,0.716505,0.866901,0.740185,0.698492,...,0.727806,0.763438,0.821801,0.699876,0.692695,0.749565,0.761768,0.708679,0.777379,0.717252

In [3]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_Top2B_Temporal_Diseased.csv')
print(df_merged.shape)
df_merged.head(2)

(3314, 414)

Sample_ID,GSM1283250,GSM1283253,GSM1283254,GSM1283255,GSM1283259,GSM1283260,GSM1974300,GSM1974301,GSM1974304,GSM1974305,...,MTG_9724,MTG_9739,MTG_9806,MTG_9818,MTG_9828,MTG_9844,MTG_9913,MTG_9921,MTG_9941,MTG_9948
Age,22.000000,8.000000,51.000000,18.000000,2.000000,30.000000,86,92,73,69,...,84.000000,83.000000,78.000000,77.000000,86.00000,96.000000,83.000000,75.00000,91.000,97.000000
cg00018024,0.076211,0.076396,0.086868,0.095277,0.073025,0.063569,0.012743,0.012442,0.014052,0.012564,...,0.018967,0.014952,0.021764,0.014968,0.01714,0.017432,0.015385,0.01506,0.016,0.017311