In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\Healthy

df1 = pd.read_csv('GSE40360_Top2b_fl.csv')
df2 = pd.read_csv('GSE53162_Top2b_fl.csv')
df3 = pd.read_csv('GSE59457_Top2b_fl.csv')
df4 = pd.read_csv('GSE61380_Top2b_fl.csv')
df5 = pd.read_csv('GSE61431_Top2b_fl.csv')
df6 = pd.read_csv('GSE64509_Top2b_fl.csv')
df7 = pd.read_csv('GSE66351_Top2b_fl.csv')
df8 = pd.read_csv('GSE67749_Top2b_fl.csv')
df9 = pd.read_csv('GSE74193_Top2b_fl.csv')
df10 = pd.read_csv('GSE80970_Top2b_fl.csv')
df11 = pd.read_csv('GSE125895_Top2b_fl.csv')

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\Healthy

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df9 = df9.transpose()
df9.columns = df9.iloc[0]
df9 = df9.iloc [1:, :]

df10 = df10.transpose()
df10.columns = df10.iloc[0]
df10 = df10.iloc [1:, :]

df11 = df11.transpose()
df11.columns = df11.iloc[0]
df11 = df11.iloc [1:, :]

In [3]:
df11.head(2)

Sample_ID,1-C03,1-C04,1-C06,1-C10,1-C11,1-D02,1-D03,1-D06,1-D09,1-D11,...,4-D03,4-D06,4-D10,4-D11,4-E02,5-B05,5-B07,5-B09,5-B12,5-C01
Age,54.42,56.09,65.62,60.74,62.31,51.83,64.56,53.39,60.76,57.87,...,71.11,53.6,61.17,62.78,55.44,83.64,73.28,57.93,59.25,68.59
cg00005072,0.651923,0.731278,0.637366,0.708196,0.686672,0.650175,0.633112,0.629137,0.658349,0.710338,...,0.727293,0.634794,0.6542,0.634759,0.641502,0.687862,0.712376,0.703993,0.686849,0.622531

In [4]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

#df_merged = reduce(lambda left, right: pd.merge(left, right, on=['Sample_ID'], how='inner'), df_list)
df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

# Drop columns containing ':' in their names
#df_merged.drop([col for col in df_merged.columns if ':' in col], axis=1, inplace=True)
print(df_merged.shape)
df_merged.head(2)

(4074, 657)

Sample_ID,GSM992014,GSM992015,GSM992016,GSM992017,GSM992018,GSM992019,GSM992020,GSM992021,GSM992022,GSM992023,...,4-D03,4-D06,4-D10,4-D11,4-E02,5-B05,5-B07,5-B09,5-B12,5-C01
Age,54,76,71,72,79,59,73,64,58,68,...,71.110000,53.600000,61.1700,62.780000,55.440000,83.640000,73.280000,57.930000,59.250000,68.590000
cg00005072,0.860223,0.85491,0.881988,0.88346,0.847931,0.867228,0.860535,0.820649,0.825024,0.857707,...,0.727293,0.634794,0.6542,0.634759,0.641502,0.687862,0.712376,0.703993,0.686849,0.622531

In [5]:
df_merged.to_csv('Merged_Top2B_Frontal.csv')