In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum\Diseased

df1 = pd.read_csv('GSE53162_Top2b_cb_Auti1.csv')
df2 = pd.read_csv('GSE134379_Top2b_cb_AD1.csv')
df3 = pd.read_csv('GSE67748_Top2b_cb_HIV1.csv')
df4 = pd.read_csv('GSE59457_Top2b_cb_HIV1.csv')
df5 = pd.read_csv('GSE61431_Top2b_cb_Schiz1.csv')
df6 = pd.read_csv('GSE105109_Top2b_cb_AD1.csv')
df7 = pd.read_csv('GSE125895_Top2b_cb_AD1.csv')

Z:\Project_Top2B\April_2023\regionwise\cerebellum\Diseased

In [2]:
# Create a list of dataframe names
dfs = [df1, df2, df3, df4, df5, df6, df7]

# Merge the dataframes based on the common names in the first column
merged_df = dfs[0]  # Start with the first dataframe
for df in dfs[1:]:
    merged_df = merged_df.merge(df, on=merged_df.columns[0])

# Print the merged dataframe
merged_df.head(2)

,Sample_ID,GSM1283261,GSM1283262,GSM1283263,GSM1283264,GSM1283265,GSM1283266,GSM1283267,CBL_0004,CBL_0008,...,5-A06,1-A08,3-A09,4-B04,4-A06,1-B08,1-A06,1-A07,1-A05,2-B09
0,Age,5.000000,14.000000,20.000000,8.000000,8.000000,39.000000,4.000000,79.000000,84.000000,...,84.110000,85.050000,86.850000,86.850000,87.38000,87.520000,88.520000,91.150000,91.86000,92.290000
1,cg00010266,0.079044,0.061192,0.058496,0.055641,0.064612,0.071116,0.069084,0.038422,0.040941,...,0.070045,0.069484,0.060639,0.072512,0.06507,0.052445,0.058908,0.054362,0.06956,0.057205

In [3]:
merged_df.shape

(3315, 426)

In [4]:
merged_df.to_csv('Merged_Top2B_Cerebellum_Diseased.csv')