## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE80970

df1 = pd.read_csv('GSE80970_Age_fl_hc.csv')
df2 = pd.read_csv('GSE80970_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE80970

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2139164,80,0.71086,0.08091,0.81530,0.20517,0.03984,0.84400,0.85247,0.06027,...,0.12254,0.88355,0.11948,0.30720,0.64411,0.88115,0.27052,0.07827,0.11051,0.86909
1,GSM2139166,78,0.70694,0.09908,0.85078,0.19985,0.03935,0.86073,0.86271,0.06938,...,0.15058,0.88858,0.11471,0.30543,0.68602,0.90109,0.24704,0.09416,0.11737,0.89979

In [2]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE80970_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(68, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2139164,80,80,0.71086,0.08091,0.81530,0.20517,0.03984,0.84400,0.85247,...,0.12254,0.88355,0.11948,0.30720,0.64411,0.88115,0.27052,0.07827,0.11051,0.86909
1,GSM2139166,78,78,0.70694,0.09908,0.85078,0.19985,0.03935,0.86073,0.86271,...,0.15058,0.88858,0.11471,0.30543,0.68602,0.90109,0.24704,0.09416,0.11737,0.89979

## Diseased

In [3]:
df1 = pd.read_csv('GSE80970_Age_fl_AD.csv')
df2 = pd.read_csv('GSE80970_AD_Top2b.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE80970_Top2b_AD_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(74, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2139163,89,89,0.70444,0.10943,0.81595,0.12690,0.04786,0.83965,0.83041,...,0.11431,0.89916,0.11247,0.35864,0.61866,0.90005,0.25821,0.12081,0.08901,0.84160
1,GSM2139165,94,94,0.70970,0.08346,0.80967,0.18871,0.03907,0.86919,0.85548,...,0.13230,0.85050,0.11817,0.36409,0.75944,0.91062,0.25056,0.09111,0.09295,0.86976