## Healthy

In [3]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE67749

df1 = pd.read_csv('GSE67749_Age_fl_hc.csv')
df2 = pd.read_csv('GSE67749_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE67749

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1655160,81,0.748162,0.068114,0.861519,0.198773,0.034183,0.905649,0.906715,0.021840,...,0.157757,0.910152,0.062692,0.428948,0.729258,0.948969,0.227767,0.036891,0.097141,0.925392
1,GSM1655161,86,0.857367,0.098667,0.869635,0.131553,0.025922,0.904646,0.917135,0.031628,...,0.128904,0.963335,0.064686,0.369946,0.673910,0.965272,0.215263,0.037896,0.108518,0.919148

In [4]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE125895_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(25, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1655160,81,81,0.748162,0.068114,0.861519,0.198773,0.034183,0.905649,0.906715,...,0.157757,0.910152,0.062692,0.428948,0.729258,0.948969,0.227767,0.036891,0.097141,0.925392
1,GSM1655161,86,86,0.857367,0.098667,0.869635,0.131553,0.025922,0.904646,0.917135,...,0.128904,0.963335,0.064686,0.369946,0.673910,0.965272,0.215263,0.037896,0.108518,0.919148

## Diseased

In [10]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')
%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE67749
df2 = pd.read_csv('GSE67749.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
print(merged_df.shape)
merged_df.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE67749
(4604, 34)

,ID_REF,GSM1655152,GSM1655153,GSM1655154,GSM1655155,GSM1655156,GSM1655157,GSM1655158,GSM1655159,GSM1655160,...,GSM1655175,GSM1655176,GSM1655177,GSM1655178,GSM1655179,GSM1655180,GSM1655181,GSM1655182,GSM1655183,GSM1655184
0,cg00005072,0.823982,0.732493,0.704310,0.741159,0.742137,0.708283,0.754866,0.759683,0.748162,...,0.699596,0.723711,0.749700,0.625381,0.766810,0.728012,0.733317,0.819444,0.726423,0.720232
1,cg00010266,0.066934,0.049933,0.058039,0.066430,0.058914,0.053350,0.051686,0.070012,0.068114,...,0.050745,0.069622,0.056218,0.052434,0.059542,0.037111,0.041591,0.081126,0.043064,0.025473

In [17]:
df2 = merged_df.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]
df2.to_csv('GSE67749_All_Top2b.csv')
df2.head(2)

ID_REF,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,cg00029353,cg00030423,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
GSM1655152,0.823982,0.066934,0.901293,0.133595,0.016361,0.940731,0.932912,0.010598,0.074178,0.015689,...,0.114263,0.913744,0.081983,0.332221,0.655626,0.921359,0.239657,0.055745,0.086891,0.937114
GSM1655153,0.732493,0.049933,0.888988,0.196894,0.039602,0.91973,0.927028,0.014985,0.046201,0.011353,...,0.140229,0.948598,0.090251,0.336652,0.803482,0.936061,0.248467,0.079811,0.106383,0.9587

In [18]:
df1 = pd.read_csv('GSE67749_Age_fl_HIV.csv')
df2 = pd.read_csv('GSE67749_All_Top2b.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE67749_Top2b_HIV_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(8, 4606)

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1655152,34,0.823982,0.066934,0.901293,0.133595,0.016361,0.940731,0.932912,0.010598,...,0.114263,0.913744,0.081983,0.332221,0.655626,0.921359,0.239657,0.055745,0.086891,0.937114
1,GSM1655153,61,0.732493,0.049933,0.888988,0.196894,0.039602,0.919730,0.927028,0.014985,...,0.140229,0.948598,0.090251,0.336652,0.803482,0.936061,0.248467,0.079811,0.106383,0.958700