## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE125895

df1 = pd.read_csv('GSE125895_Age_tl_hc.csv')
df2 = pd.read_csv('GSE125895_Top2b_Age.csv')

merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE125895_Top2b_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE125895
(97, 4240)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,1-E03,71.82,71.82,0.706542,0.055699,0.806682,0.146336,0.081313,0.869801,0.858235,...,0.076169,0.863003,0.172348,0.300274,0.557809,0.910253,0.365304,0.228862,0.069154,0.879873
1,1-E05,57.48,57.48,0.756934,0.086484,0.822813,0.135759,0.089143,0.869085,0.855562,...,0.079878,0.882219,0.159421,0.329158,0.591885,0.902248,0.344821,0.086541,0.069226,0.843754

## Diseased

In [2]:
df1 = pd.read_csv('GSE125895_Age_tl_AD.csv')
df2 = pd.read_csv('GSE125895_AD_Top2b_Age.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE125895_Top2b_AD_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(37, 4241)

,Sample_ID,Age_x,Diseased,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,1-E02,79.07,Alzheimer,79.07,0.695910,0.056692,0.854186,0.127327,0.073145,0.879155,...,0.095140,0.883305,0.171537,0.287262,0.491748,0.939694,0.376110,0.135054,0.057495,0.858191
1,1-F04,76.41,Alzheimer,76.41,0.736925,0.059968,0.735910,0.171942,0.068128,0.827353,...,0.086022,0.858447,0.179851,0.334732,0.599252,0.925280,0.330085,0.159731,0.060820,0.845795