In [2]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE64509

# Define the input and output file paths
input_file = "GSE64509_series.txt"
output_file = "GSE64509.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE64509

import re

# Define the input and output file paths
input_file = "GSE80970.txt"
output_file = "GSE80970_Age.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [3]:
df2 = pd.read_csv('GSE64509_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1572841   45
1  GSM1572842  114

In [4]:
df = pd.read_csv('GSE64509.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 261)

,ID_REF,GSM1572841,GSM1572842,GSM1572843,GSM1572844,GSM1572845,GSM1572846,GSM1572847,GSM1572848,GSM1572849,...,GSM1573091,GSM1573092,GSM1573093,GSM1573094,GSM1573095,GSM1573096,GSM1573097,GSM1573098,GSM1573099,GSM1573100
0,cg00000029,0.552170,0.355514,0.390367,0.491970,0.514401,0.669712,0.668432,0.374837,0.673628,...,0.498273,0.509893,0.503143,0.411890,0.461638,0.433760,0.521450,0.578487,0.393919,0.468046
1,cg00000108,0.900076,0.903384,0.860411,0.882132,0.898741,0.513467,0.497066,0.886238,0.582298,...,0.881464,0.874892,0.877833,0.859028,0.861793,0.896404,0.858122,0.887840,0.890661,0.888853

In [5]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE64509_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 261)

,ID_REF,GSM1572882,GSM1573019,GSM1572853,GSM1573015,GSM1573046,GSM1573084,GSM1572856,GSM1572970,GSM1573007,...,GSM1573060,GSM1572927,GSM1573003,GSM1572915,GSM1573089,GSM1572967,GSM1573027,GSM1573049,GSM1572953,GSM1572914
0,cg00000029,0.424010,0.553376,0.535417,0.614633,0.426283,0.571192,0.443435,0.56783,0.580629,...,0.461248,0.53097,0.500298,0.380007,0.399653,0.440994,0.437802,0.407331,0.532932,0.437143
1,cg00000108,0.892281,0.922808,0.904021,0.594230,0.888593,0.895375,0.901903,0.56937,0.887054,...,0.898589,0.92232,0.851010,0.882250,0.889050,0.902844,0.907987,0.866673,0.854567,0.740554

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE64509
df2 = pd.read_csv('GSE64509_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE64509
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1572882,GSM1573019,GSM1572853,GSM1573015,GSM1573046,GSM1573084,GSM1572856,GSM1572970,GSM1573007,...,GSM1573060,GSM1572927,GSM1573003,GSM1572915,GSM1573089,GSM1572967,GSM1573027,GSM1573049,GSM1572953,GSM1572914
0,cg00000029,0.424010,0.553376,0.535417,0.614633,0.426283,0.571192,0.443435,0.56783,0.580629,...,0.461248,0.53097,0.500298,0.380007,0.399653,0.440994,0.437802,0.407331,0.532932,0.437143
1,cg00000108,0.892281,0.922808,0.904021,0.594230,0.888593,0.895375,0.901903,0.56937,0.887054,...,0.898589,0.92232,0.851010,0.882250,0.889050,0.902844,0.907987,0.866673,0.854567,0.740554

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE64509_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 261)

,CpG,GSM1572882,GSM1573019,GSM1572853,GSM1573015,GSM1573046,GSM1573084,GSM1572856,GSM1572970,GSM1573007,...,GSM1573060,GSM1572927,GSM1573003,GSM1572915,GSM1573089,GSM1572967,GSM1573027,GSM1573049,GSM1572953,GSM1572914
0,cg00005072,0.835803,0.837217,0.633475,0.780645,0.620777,0.770989,0.784628,0.800803,0.801880,...,0.739409,0.799463,0.778788,0.698210,0.752969,0.725427,0.697588,0.766810,0.724263,0.782066
1,cg00010266,0.038519,0.041223,0.049980,0.052642,0.037843,0.044469,0.047827,0.042558,0.067412,...,0.052410,0.060947,0.070809,0.033535,0.031262,0.049156,0.050165,0.059542,0.049053,0.044220