In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\Files_Top2B\GSE151355

df2 = pd.read_csv('GSE151355_Age_PD.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\Files_Top2B\GSE151355

    Sample_ID  Age
0  GSM4575945   92
1  GSM4575947   82

In [2]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE151355.csv')
#df = df[df.columns.drop(list(df.filter(regex='Pval')))]
#df.columns = df.columns.str.replace('_Beta', '')
print(df.shape)
df.head(2)

(484212, 41)

,ID_REF,GSM4575944,GSM4575945,GSM4575946,GSM4575947,GSM4575948,GSM4575949,GSM4575950,GSM4575951,GSM4575952,...,GSM4575974,GSM4575975,GSM4575976,GSM4575977,GSM4575978,GSM4575979,GSM4575980,GSM4575981,GSM4575982,GSM4575983
0,cg00000029,0.395231,0.572056,0.562488,0.499200,0.432715,0.588345,0.519800,0.548185,0.528529,...,0.271485,0.489684,0.475268,0.515075,0.551460,0.524905,0.405694,0.508371,0.440377,0.532326
1,cg00000108,0.921741,0.932965,0.946518,0.934851,0.947024,0.957481,0.946173,0.930007,0.941308,...,0.959684,0.915569,0.958061,0.814435,0.944521,0.893297,0.926639,0.901062,0.935083,0.873229

In [3]:
# remove quotes from column names
df.columns = df.columns.str.replace(' ', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(484212, 41)

,ID_REF,GSM4575944,GSM4575945,GSM4575946,GSM4575947,GSM4575948,GSM4575949,GSM4575950,GSM4575951,GSM4575952,...,GSM4575974,GSM4575975,GSM4575976,GSM4575977,GSM4575978,GSM4575979,GSM4575980,GSM4575981,GSM4575982,GSM4575983
0,cg00000029,0.395231,0.572056,0.562488,0.499200,0.432715,0.588345,0.519800,0.548185,0.528529,...,0.271485,0.489684,0.475268,0.515075,0.551460,0.524905,0.405694,0.508371,0.440377,0.532326
1,cg00000108,0.921741,0.932965,0.946518,0.934851,0.947024,0.957481,0.946173,0.930007,0.941308,...,0.959684,0.915569,0.958061,0.814435,0.944521,0.893297,0.926639,0.901062,0.935083,0.873229

In [4]:

# Extract the names which are control
names = df2['Sample_ID'].tolist()

# Subset df1 using the names extracted from df2
df1_subset = df[names]

# Adding ID_Ref column from df
df1_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df1_subset.to_csv('GSE151355_PD.csv', index = False)

print(df1_subset.shape)
df1_subset.head(2)

(484212, 21)

,ID_REF,GSM4575945,GSM4575947,GSM4575949,GSM4575951,GSM4575953,GSM4575955,GSM4575957,GSM4575959,GSM4575961,...,GSM4575965,GSM4575967,GSM4575969,GSM4575971,GSM4575973,GSM4575975,GSM4575977,GSM4575979,GSM4575981,GSM4575983
0,cg00000029,0.572056,0.499200,0.588345,0.548185,0.491179,0.537387,0.434105,0.525917,0.563818,...,0.439667,0.522093,0.514889,0.569842,0.461006,0.489684,0.515075,0.524905,0.508371,0.532326
1,cg00000108,0.932965,0.934851,0.957481,0.930007,0.919150,0.942596,0.941819,0.927462,0.929174,...,0.904412,0.909137,0.889538,0.904720,0.903893,0.915569,0.814435,0.893297,0.901062,0.873229

In [6]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\Files_Top2B\GSE151355
df2 = pd.read_csv('GSE151355_PD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\Files_Top2B\GSE151355
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM4575945,GSM4575947,GSM4575949,GSM4575951,GSM4575953,GSM4575955,GSM4575957,GSM4575959,GSM4575961,...,GSM4575965,GSM4575967,GSM4575969,GSM4575971,GSM4575973,GSM4575975,GSM4575977,GSM4575979,GSM4575981,GSM4575983
0,cg00000029,0.572056,0.499200,0.588345,0.548185,0.491179,0.537387,0.434105,0.525917,0.563818,...,0.439667,0.522093,0.514889,0.569842,0.461006,0.489684,0.515075,0.524905,0.508371,0.532326
1,cg00000108,0.932965,0.934851,0.957481,0.930007,0.919150,0.942596,0.941819,0.927462,0.929174,...,0.904412,0.909137,0.889538,0.904720,0.903893,0.915569,0.814435,0.893297,0.901062,0.873229

In [7]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE151355_PD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4591, 21)

,CpG,GSM4575945,GSM4575947,GSM4575949,GSM4575951,GSM4575953,GSM4575955,GSM4575957,GSM4575959,GSM4575961,...,GSM4575965,GSM4575967,GSM4575969,GSM4575971,GSM4575973,GSM4575975,GSM4575977,GSM4575979,GSM4575981,GSM4575983
0,cg00005072,0.754949,0.760896,0.784604,0.763996,0.747364,0.784298,0.734518,0.755527,0.742376,...,0.749304,0.761581,0.754256,0.760264,0.780926,0.772109,0.790426,0.771400,0.775175,0.749350
1,cg00010266,0.071094,0.067703,0.035113,0.086329,0.073081,0.046945,0.073621,0.079781,0.085937,...,0.064753,0.070405,0.084397,0.077655,0.151708,0.053471,0.083402,0.073459,0.056571,0.075114