In [1]:
%cd Z:\Project_Top2B\April_2023\GSE61380
import pandas as pd

Z:\Project_Top2B\April_2023\GSE61380

In [2]:
df2 = pd.read_csv('GSE61380_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1503499   37
1  GSM1503500   57

In [3]:
df = pd.read_csv('GSE61380.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(447273, 34)

,ID_REF,GSM1503499,GSM1503500,GSM1503501,GSM1503502,GSM1503503,GSM1503504,GSM1503505,GSM1503506,GSM1503507,...,GSM1503522,GSM1503523,GSM1503524,GSM1503525,GSM1503526,GSM1503527,GSM1503528,GSM1503529,GSM1503530,GSM1503531
0,cg00000029,0.383060,0.360163,0.386180,0.392195,0.424361,0.417636,0.448036,0.400095,0.388156,...,0.433246,0.464406,0.345492,0.468714,0.371849,0.418599,0.480720,0.447356,0.445130,0.378626
1,cg00000108,0.868987,0.875735,0.888495,0.926971,0.883882,0.878253,0.871476,0.900130,0.892411,...,0.882807,0.940102,0.880168,0.881164,0.880885,0.886446,0.803787,0.867505,0.873862,0.846739

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE61380_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(447273, 15)

,ID_REF,GSM1503500,GSM1503525,GSM1503529,GSM1503502,GSM1503510,GSM1503511,GSM1503517,GSM1503501,GSM1503499,GSM1503508,GSM1503503,GSM1503507,GSM1503523,GSM1503512
0,cg00000029,0.360163,0.468714,0.447356,0.392195,0.426244,0.366794,0.425686,0.386180,0.383060,0.411873,0.424361,0.388156,0.464406,0.422934
1,cg00000108,0.875735,0.881164,0.867505,0.926971,0.840461,0.913652,0.893349,0.888495,0.868987,0.885588,0.883882,0.892411,0.940102,0.882883

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE61380
df2 = pd.read_csv('GSE61380_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE61380
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1503500,GSM1503525,GSM1503529,GSM1503502,GSM1503510,GSM1503511,GSM1503517,GSM1503501,GSM1503499,GSM1503508,GSM1503503,GSM1503507,GSM1503523,GSM1503512
0,cg00000029,0.360163,0.468714,0.447356,0.392195,0.426244,0.366794,0.425686,0.386180,0.383060,0.411873,0.424361,0.388156,0.464406,0.422934
1,cg00000108,0.875735,0.881164,0.867505,0.926971,0.840461,0.913652,0.893349,0.888495,0.868987,0.885588,0.883882,0.892411,0.940102,0.882883

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE61380_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4342, 15)

,CpG,GSM1503500,GSM1503525,GSM1503529,GSM1503502,GSM1503510,GSM1503511,GSM1503517,GSM1503501,GSM1503499,GSM1503508,GSM1503503,GSM1503507,GSM1503523,GSM1503512
0,cg00005072,0.732890,0.634371,0.655843,0.695834,0.644556,0.672899,0.671921,0.685380,0.643455,0.648613,0.682038,0.637552,0.740533,0.677129
1,cg00010266,0.049205,0.051796,0.054468,0.058656,0.053328,0.050811,0.037140,0.063261,0.078176,0.063706,0.058828,0.056257,0.066427,0.047866