## Healthy

In [3]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE59457

df1 = pd.read_csv('GSE59457_Age_fl_hc.csv')
df2 = pd.read_csv('GSE59457_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE59457

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1438150,38,0.842625,0.046472,0.837088,0.089849,0.034697,0.839234,0.829052,0.026558,...,0.066192,0.907638,0.090745,0.100067,0.816459,0.901374,0.206400,0.062786,0.090617,0.852270
1,GSM1438151,53,0.633475,0.049980,0.811063,0.125714,0.026760,0.830106,0.849787,0.036890,...,0.109138,0.866120,0.095828,0.172697,0.764676,0.878035,0.195585,0.058328,0.065426,0.913914

In [4]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE59457_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1438283,38,38,0.692099,0.072297,0.831547,0.167811,0.053328,0.790542,0.816653,...,0.131531,0.846888,0.164771,0.196834,0.783873,0.900204,0.223819,0.088073,0.160946,0.858369
1,GSM1438163,53,53,0.805481,0.060432,0.859722,0.121087,0.035986,0.881989,0.886232,...,0.089211,0.890751,0.106219,0.315358,0.744949,0.899019,0.186594,0.051591,0.108278,0.924723

## Diseased

In [6]:
df1 = pd.read_csv('GSE59457_Age_fl_HIV.csv')
df2 = pd.read_csv('GSE59457_HIV_Top2b_Age.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE59457_Top2b_HIV_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(3, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1438142,44.088719,44.088719,0.725995,0.069511,0.859750,0.241764,0.044855,0.878635,0.859475,...,0.117656,0.839408,0.115017,0.490006,0.856276,0.904956,0.295662,0.116802,0.096316,0.890193
1,GSM1438143,54.585433,54.585433,0.801978,0.062462,0.871292,0.120802,0.054045,0.856712,0.851030,...,0.140868,0.897856,0.152044,0.339262,0.676603,0.903531,0.207383,0.083565,0.148400,0.890382