In [4]:
%cd Z:\Project_Top2B\April_2023\GSE66351
import pandas as pd

df = pd.read_csv('GSE66351.csv')
print(df.shape)
df.head(2)

Z:\Project_Top2B\April_2023\GSE66351
(481868, 191)

,ID_REF,GSM2808875,GSM2808876,GSM2808877,GSM2808878,GSM2808879,GSM2808880,GSM2808881,GSM2808882,GSM2808883,...,GSM2809055,GSM2809056,GSM2809057,GSM2809058,GSM2809059,GSM2809060,GSM2809061,GSM2809062,GSM2809063,GSM2809064
0,cg00000029,0.52498,0.57154,0.50926,0.56444,0.49958,0.58484,0.60115,0.59358,0.56512,...,0.48241,0.60848,0.52402,0.51866,0.46051,0.54498,0.50497,0.55108,0.52447,0.57490
1,cg00000108,0.89834,0.88266,0.90962,0.88444,0.92342,0.90303,0.92504,0.91305,0.93228,...,0.91696,0.88302,0.90212,0.91770,0.92657,0.94262,0.92431,0.92042,0.91676,0.89111

In [5]:
df2 = pd.read_csv('GSE66351_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM2808885   18
1  GSM2808886   18

In [6]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE66351_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(481868, 85)

,ID_REF,GSM2809038,GSM2809056,GSM2808992,GSM2808909,GSM2809035,GSM2808961,GSM2808968,GSM2809021,GSM2809032,...,GSM2808950,GSM2809033,GSM2809057,GSM2809026,GSM2808959,GSM2809016,GSM2808924,GSM2808951,GSM2808972,GSM2809025
0,cg00000029,0.50128,0.60848,0.50621,0.46937,0.57364,0.63203,0.59164,0.54787,0.49109,...,0.53088,0.49206,0.52402,0.53141,0.51954,0.63437,0.55316,0.67183,0.57783,0.50724
1,cg00000108,0.94337,0.88302,0.91997,0.93224,0.93490,0.90658,0.90638,0.92901,0.91336,...,0.90640,0.91288,0.90212,0.93274,0.86545,0.88895,0.93206,0.91538,0.92348,0.90467

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE66351
df2 = pd.read_csv('GSE66351_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE66351
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2809038,GSM2809056,GSM2808992,GSM2808909,GSM2809035,GSM2808961,GSM2808968,GSM2809021,GSM2809032,...,GSM2808950,GSM2809033,GSM2809057,GSM2809026,GSM2808959,GSM2809016,GSM2808924,GSM2808951,GSM2808972,GSM2809025
0,cg00000029,0.50128,0.60848,0.50621,0.46937,0.57364,0.63203,0.59164,0.54787,0.49109,...,0.53088,0.49206,0.52402,0.53141,0.51954,0.63437,0.55316,0.67183,0.57783,0.50724
1,cg00000108,0.94337,0.88302,0.91997,0.93224,0.93490,0.90658,0.90638,0.92901,0.91336,...,0.90640,0.91288,0.90212,0.93274,0.86545,0.88895,0.93206,0.91538,0.92348,0.90467

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE66351_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4585, 85)

,CpG,GSM2809038,GSM2809056,GSM2808992,GSM2808909,GSM2809035,GSM2808961,GSM2808968,GSM2809021,GSM2809032,...,GSM2808950,GSM2809033,GSM2809057,GSM2809026,GSM2808959,GSM2809016,GSM2808924,GSM2808951,GSM2808972,GSM2809025
0,cg00005072,0.824060,0.801970,0.766570,0.465440,0.607440,0.728460,0.747060,0.729700,0.699610,...,0.757120,0.575450,0.634490,0.721860,0.758510,0.785290,0.829220,0.732260,0.775890,0.788900
1,cg00010266,0.048275,0.073193,0.058459,0.046857,0.043507,0.061467,0.082662,0.074737,0.058997,...,0.050528,0.040751,0.063542,0.068601,0.059563,0.049742,0.054267,0.066031,0.076142,0.052389