In [6]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE109627

# Define the input and output file paths
input_file = "GSE109627_MTG_processed_GA_illumina_methylation.txt"
output_file = "GSE109627.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE109627

In [11]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE109627.csv')
df = df[df.columns.drop(list(df.filter(regex='Pval')))]
df.columns = df.columns.str.replace('_Beta', '')
print(df.shape)
df.head(2)

,ID_REF,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_4,SAMPLE_5,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,...,SAMPLE_153,SAMPLE_154,SAMPLE_155,SAMPLE_156,SAMPLE_157,SAMPLE_158,SAMPLE_159,SAMPLE_160,SAMPLE_161,SAMPLE_162
0,cg00050873,0.806987,0.565598,0.505929,0.820434,0.575377,0.869761,0.871929,0.896045,0.859511,...,0.814888,0.683646,0.797993,0.709945,0.848219,0.818463,0.824491,0.662921,0.882023,0.525126
1,cg00212031,0.031241,0.262295,0.378747,0.032407,0.390625,0.048089,0.027126,0.034920,0.034953,...,0.019384,0.380645,0.027980,0.529716,0.019491,0.038995,0.021223,0.518900,0.012447,0.414414

In [12]:
df2 = pd.read_csv('GSE109627_Age.csv')
df2.head(2)

  Sample_description      Age
0           SAMPLE_4  age: 79
1           SAMPLE_5  age: 88

In [19]:
# Extract the names which are control
names = df2['Sample_description'].tolist()

# Subset df1 using the names extracted from df2
df1_subset = df[names]

# Adding ID_Ref column from df
df1_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df1_subset.to_csv('GSE109627_noPval.csv', index = False)

print(df1_subset.shape)
df1_subset.head(2)

(485512, 72)

,ID_REF,SAMPLE_4,SAMPLE_5,SAMPLE_10,SAMPLE_11,SAMPLE_12,SAMPLE_15,SAMPLE_16,SAMPLE_18,SAMPLE_22,...,SAMPLE_142,SAMPLE_143,SAMPLE_144,SAMPLE_145,SAMPLE_147,SAMPLE_148,SAMPLE_154,SAMPLE_156,SAMPLE_159,SAMPLE_160
0,cg00050873,0.820434,0.575377,0.566524,0.833034,0.900720,0.846473,0.569048,0.569260,0.433333,...,0.519562,0.806653,0.819909,0.844463,0.727273,0.800771,0.683646,0.709945,0.824491,0.662921
1,cg00212031,0.032407,0.390625,0.486486,0.029682,0.083621,0.024896,0.475664,0.466454,0.591362,...,0.377327,0.044249,0.013834,0.001794,0.555160,0.011216,0.380645,0.529716,0.021223,0.518900

In [1]:
import pandas as pd

In [2]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE109627
df2 = pd.read_csv('GSE109627_noPval.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE109627
          CpG
0  cg00005072
1  cg00010266

,ID_REF,SAMPLE_4,SAMPLE_5,SAMPLE_10,SAMPLE_11,SAMPLE_12,SAMPLE_15,SAMPLE_16,SAMPLE_18,SAMPLE_22,...,SAMPLE_142,SAMPLE_143,SAMPLE_144,SAMPLE_145,SAMPLE_147,SAMPLE_148,SAMPLE_154,SAMPLE_156,SAMPLE_159,SAMPLE_160
0,cg00050873,0.820434,0.575377,0.566524,0.833034,0.900720,0.846473,0.569048,0.569260,0.433333,...,0.519562,0.806653,0.819909,0.844463,0.727273,0.800771,0.683646,0.709945,0.824491,0.662921
1,cg00212031,0.032407,0.390625,0.486486,0.029682,0.083621,0.024896,0.475664,0.466454,0.591362,...,0.377327,0.044249,0.013834,0.001794,0.555160,0.011216,0.380645,0.529716,0.021223,0.518900

In [4]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE109627_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 72)

,CpG,SAMPLE_4,SAMPLE_5,SAMPLE_10,SAMPLE_11,SAMPLE_12,SAMPLE_15,SAMPLE_16,SAMPLE_18,SAMPLE_22,...,SAMPLE_142,SAMPLE_143,SAMPLE_144,SAMPLE_145,SAMPLE_147,SAMPLE_148,SAMPLE_154,SAMPLE_156,SAMPLE_159,SAMPLE_160
0,cg00005072,0.668977,0.661542,0.672391,0.642659,0.602311,0.656995,0.644141,0.702445,0.746363,...,0.742339,0.611239,0.721541,0.640384,0.640840,0.716310,0.671770,0.726408,0.718992,0.769938
1,cg00010266,0.082321,0.092300,0.111087,0.083373,0.058843,0.073916,0.068214,0.080445,0.072024,...,0.100040,0.118556,0.058762,0.084020,0.099279,0.081046,0.099861,0.092691,0.115762,0.090935