In [1]:
%cd Z:\Project_Top2B\April_2023\GSE61380
import pandas as pd

Z:\Project_Top2B\April_2023\GSE61380

In [2]:
df2 = pd.read_csv('GSE61380_Age_Schiz.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1503514   24
1  GSM1503515   26

In [3]:
df = pd.read_csv('GSE61380.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(447273, 34)

,ID_REF,GSM1503499,GSM1503500,GSM1503501,GSM1503502,GSM1503503,GSM1503504,GSM1503505,GSM1503506,GSM1503507,...,GSM1503522,GSM1503523,GSM1503524,GSM1503525,GSM1503526,GSM1503527,GSM1503528,GSM1503529,GSM1503530,GSM1503531
0,cg00000029,0.383060,0.360163,0.386180,0.392195,0.424361,0.417636,0.448036,0.400095,0.388156,...,0.433246,0.464406,0.345492,0.468714,0.371849,0.418599,0.480720,0.447356,0.445130,0.378626
1,cg00000108,0.868987,0.875735,0.888495,0.926971,0.883882,0.878253,0.871476,0.900130,0.892411,...,0.882807,0.940102,0.880168,0.881164,0.880885,0.886446,0.803787,0.867505,0.873862,0.846739

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE61380_Schiz.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(447273, 18)

,ID_REF,GSM1503520,GSM1503516,GSM1503517,GSM1503522,GSM1503518,GSM1503523,GSM1503525,GSM1503519,GSM1503514,GSM1503527,GSM1503526,GSM1503515,GSM1503528,GSM1503521,GSM1503530,GSM1503529,GSM1503524
0,cg00000029,0.444118,0.392507,0.425686,0.433246,0.442146,0.464406,0.468714,0.417250,0.439145,0.418599,0.371849,0.388835,0.480720,0.389928,0.445130,0.447356,0.345492
1,cg00000108,0.901789,0.870694,0.893349,0.882807,0.851250,0.940102,0.881164,0.844728,0.913647,0.886446,0.880885,0.872607,0.803787,0.873710,0.873862,0.867505,0.880168

In [5]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE61380
df2 = pd.read_csv('GSE61380_Schiz.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE61380
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1503520,GSM1503516,GSM1503517,GSM1503522,GSM1503518,GSM1503523,GSM1503525,GSM1503519,GSM1503514,GSM1503527,GSM1503526,GSM1503515,GSM1503528,GSM1503521,GSM1503530,GSM1503529,GSM1503524
0,cg00000029,0.444118,0.392507,0.425686,0.433246,0.442146,0.464406,0.468714,0.417250,0.439145,0.418599,0.371849,0.388835,0.480720,0.389928,0.445130,0.447356,0.345492
1,cg00000108,0.901789,0.870694,0.893349,0.882807,0.851250,0.940102,0.881164,0.844728,0.913647,0.886446,0.880885,0.872607,0.803787,0.873710,0.873862,0.867505,0.880168

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE61380_Schiz_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4342, 18)

,CpG,GSM1503520,GSM1503516,GSM1503517,GSM1503522,GSM1503518,GSM1503523,GSM1503525,GSM1503519,GSM1503514,GSM1503527,GSM1503526,GSM1503515,GSM1503528,GSM1503521,GSM1503530,GSM1503529,GSM1503524
0,cg00005072,0.727525,0.709357,0.671921,0.689505,0.645406,0.740533,0.634371,0.668023,0.649323,0.695718,0.661457,0.675431,0.638531,0.637411,0.632243,0.655843,0.653360
1,cg00010266,0.051425,0.051003,0.037140,0.062424,0.076150,0.066427,0.051796,0.057749,0.047078,0.048932,0.042175,0.054330,0.060692,0.045814,0.040800,0.054468,0.067704