## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE66351

df1 = pd.read_csv('GSE66351_Age_fl_hc.csv')
df2 = pd.read_csv('GSE66351_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE66351

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2808885,18,0.50110,0.084266,0.76158,0.13953,0.022291,0.82390,0.83215,0.018206,...,0.20822,0.87297,0.084774,0.17870,0.78833,0.91908,0.25497,0.055474,0.072829,0.87179
1,GSM2808886,18,0.81146,0.067871,0.82413,0.13573,0.025161,0.87199,0.86007,0.018306,...,0.12017,0.82875,0.085292,0.27046,0.71746,0.92832,0.21990,0.032217,0.078333,0.87085

In [2]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE66351_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(26, 4588)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2808941,88,88,0.71980,0.029360,0.78724,0.098884,0.008694,0.89680,0.91007,...,0.071998,0.91857,0.080262,0.30275,0.79703,0.94904,0.20886,0.012284,0.053700,0.91347
1,GSM2808942,77,77,0.77043,0.064626,0.83387,0.157480,0.005504,0.87312,0.89720,...,0.116600,0.89869,0.062730,0.41576,0.74149,0.94585,0.15228,0.048219,0.089744,0.91939

## Diseased

In [3]:
df1 = pd.read_csv('GSE66351_Age_fl_AD.csv')
df2 = pd.read_csv('GSE66351_AD_Top2b_Age.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE66351_Top2b_AD_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(37, 4588)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2808937,81,81,0.74785,0.065147,0.84404,0.14675,0.009375,0.88386,0.89390,...,0.10048,0.90440,0.072434,0.50070,0.77218,0.94758,0.21588,0.034895,0.098630,0.92553
1,GSM2808938,90,90,0.71411,0.048665,0.77796,0.17506,0.024398,0.88003,0.89112,...,0.10583,0.92806,0.077500,0.42316,0.63111,0.92984,0.25313,0.022520,0.066704,0.90355