In [2]:
%cd Z:\Project_Top2B\April_2023\GSE67749
import pandas as pd

df = pd.read_csv('GSE67749.csv')
print(df.shape)
df.head(2)

Z:\Project_Top2B\April_2023\GSE67749
(485577, 34)

,ID_REF,GSM1655152,GSM1655153,GSM1655154,GSM1655155,GSM1655156,GSM1655157,GSM1655158,GSM1655159,GSM1655160,...,GSM1655175,GSM1655176,GSM1655177,GSM1655178,GSM1655179,GSM1655180,GSM1655181,GSM1655182,GSM1655183,GSM1655184
0,cg00000029,0.626965,0.564274,0.543565,0.441026,0.460846,0.477920,0.631016,0.585813,0.541942,...,0.509893,0.434123,0.528622,0.401339,0.407331,0.436221,0.508166,0.518853,0.461638,0.441880
1,cg00000108,0.934990,0.907396,0.918733,0.924687,0.881434,0.883695,0.866009,0.944926,0.950892,...,0.874892,0.879312,0.909091,0.822217,0.866673,0.881444,0.910409,0.897842,0.861793,0.898352

In [3]:
df2 = pd.read_csv('GSE67749_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1655160   81
1  GSM1655161   86

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE67749_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 26)

,ID_REF,GSM1655174,GSM1655175,GSM1655164,GSM1655171,GSM1655178,GSM1655166,GSM1655173,GSM1655167,GSM1655179,...,GSM1655180,GSM1655163,GSM1655168,GSM1655169,GSM1655161,GSM1655183,GSM1655162,GSM1655177,GSM1655160,GSM1655172
0,cg00000029,0.430904,0.509893,0.601326,0.704270,0.401339,0.655868,0.430084,0.607079,0.407331,...,0.436221,0.664160,0.666209,0.557671,0.676896,0.461638,0.597846,0.528622,0.541942,0.543896
1,cg00000108,0.829506,0.874892,0.958156,0.973756,0.822217,0.935279,0.819519,0.948451,0.866673,...,0.881444,0.963546,0.964766,0.950823,0.949983,0.861793,0.944748,0.909091,0.950892,0.898828

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE67749
df2 = pd.read_csv('GSE67749_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE67749
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1655174,GSM1655175,GSM1655164,GSM1655171,GSM1655178,GSM1655166,GSM1655173,GSM1655167,GSM1655179,...,GSM1655180,GSM1655163,GSM1655168,GSM1655169,GSM1655161,GSM1655183,GSM1655162,GSM1655177,GSM1655160,GSM1655172
0,cg00000029,0.430904,0.509893,0.601326,0.704270,0.401339,0.655868,0.430084,0.607079,0.407331,...,0.436221,0.664160,0.666209,0.557671,0.676896,0.461638,0.597846,0.528622,0.541942,0.543896
1,cg00000108,0.829506,0.874892,0.958156,0.973756,0.822217,0.935279,0.819519,0.948451,0.866673,...,0.881444,0.963546,0.964766,0.950823,0.949983,0.861793,0.944748,0.909091,0.950892,0.898828

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE67749_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 26)

,CpG,GSM1655174,GSM1655175,GSM1655164,GSM1655171,GSM1655178,GSM1655166,GSM1655173,GSM1655167,GSM1655179,...,GSM1655180,GSM1655163,GSM1655168,GSM1655169,GSM1655161,GSM1655183,GSM1655162,GSM1655177,GSM1655160,GSM1655172
0,cg00005072,0.692099,0.699596,0.793047,0.839394,0.625381,0.820813,0.733091,0.826292,0.766810,...,0.728012,0.838715,0.84941,0.759867,0.857367,0.726423,0.753731,0.749700,0.748162,0.805481
1,cg00010266,0.072297,0.050745,0.093681,0.080681,0.052434,0.073081,0.056259,0.041446,0.059542,...,0.037111,0.063913,0.08178,0.066198,0.098667,0.043064,0.058217,0.056218,0.068114,0.060432