from jupyterthemes import get_themes
import jupyterthemes as jt
from jupyterthemes.stylefx import set_nb_theme
# 'monokai', 'chesterish', 'oceans16', 'solarizedl', 'solarizedd', 'grade3', 'onedork'
set_nb_theme('chesterish')

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE59457

df1 = pd.read_csv('GSE59457_cb.csv')
df2 = pd.read_csv('GSE59457_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE59457

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1438150,38,0.842625,0.046472,0.837088,0.089849,0.034697,0.839234,0.829052,0.026558,...,0.066192,0.907638,0.090745,0.100067,0.816459,0.901374,0.206400,0.062786,0.090617,0.852270
1,GSM1438151,53,0.633475,0.049980,0.811063,0.125714,0.026760,0.830106,0.849787,0.036890,...,0.109138,0.866120,0.095828,0.172697,0.764676,0.878035,0.195585,0.058328,0.065426,0.913914

In [2]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE59457_Top2b_cb.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4, 4606)

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1438150,38,0.842625,0.046472,0.837088,0.089849,0.034697,0.839234,0.829052,0.026558,...,0.066192,0.907638,0.090745,0.100067,0.816459,0.901374,0.206400,0.062786,0.090617,0.852270
1,GSM1438220,53,0.787601,0.063575,0.811792,0.133006,0.024964,0.905518,0.897612,0.025390,...,0.093734,0.898224,0.084612,0.060063,0.817806,0.918894,0.214742,0.074352,0.058200,0.838712