## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE53162

df1 = pd.read_csv('GSE53162_Age_tl_hc.csv')
df2 = pd.read_csv('GSE53162_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE53162

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283235,22,0.721249,0.064023,0.836555,0.157876,0.059223,0.860197,0.872213,0.098166,...,0.108938,0.861804,0.155002,0.221991,0.708595,0.913435,0.369032,0.100492,0.058411,0.886821
1,GSM1283237,36,0.746615,0.081757,0.810387,0.146348,0.064788,0.866343,0.880017,0.088603,...,0.093444,0.890152,0.159553,0.277987,0.618944,0.888564,0.415767,0.115712,0.080283,0.888304

In [2]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE53162_Top2b_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(10, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283245,22,22,0.690991,0.061144,0.862054,0.158684,0.072326,0.849762,0.879962,...,0.117982,0.875069,0.169645,0.199086,0.641515,0.960283,0.402698,0.069964,0.072187,0.898755
1,GSM1283246,36,36,0.681721,0.063878,0.803876,0.136590,0.058923,0.852396,0.865666,...,0.091953,0.900044,0.162283,0.290112,0.687827,0.901325,0.321078,0.099531,0.085375,0.857039

## Diseased

In [3]:
df1 = pd.read_csv('GSE53162_Age_tl_Auti.csv')
df2 = pd.read_csv('GSE53162_Auti_Top2b.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE53162_Top2b_AD_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(6, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283250,22,22,0.722991,0.076029,0.837377,0.127891,0.076211,0.880101,0.883791,...,0.099960,0.875603,0.187221,0.210297,0.684455,0.913810,0.405134,0.109301,0.091604,0.862013
1,GSM1283253,8,8,0.631231,0.055316,0.802291,0.111843,0.076396,0.869642,0.858536,...,0.111662,0.866235,0.158963,0.231572,0.736347,0.926393,0.377499,0.102416,0.065642,0.880968