In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE89702

df2 = pd.read_csv('GSE89702_Age_Schiz.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE89702

    Sample_ID  Age
0  GSM2387022   60
1  GSM2387024   51

In [2]:
df = pd.read_csv('GSE89702.csv')

print(df.shape)
df.head(2)

(417039, 34)

,ID_REF,GSM2387020,GSM2387021,GSM2387022,GSM2387023,GSM2387024,GSM2387025,GSM2387026,GSM2387027,GSM2387028,...,GSM2387043,GSM2387044,GSM2387045,GSM2387046,GSM2387047,GSM2387048,GSM2387049,GSM2387050,GSM2387051,GSM2387052
0,cg00000029,0.474240,0.682204,0.601313,0.641128,0.602039,0.624226,0.604055,0.616851,0.702519,...,0.596008,0.674298,0.606934,0.684806,0.607306,0.632163,0.610968,0.620260,0.558223,0.689555
1,cg00000108,0.358991,0.540388,0.522021,0.468465,0.543954,0.406051,0.469489,0.486060,0.453558,...,0.515183,0.455577,0.475106,0.616097,0.581547,0.340054,0.439655,0.498868,0.395469,0.514606

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE89702_Schiz.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(417039, 17)

,ID_REF,GSM2387041,GSM2387029,GSM2387043,GSM2387024,GSM2387028,GSM2387035,GSM2387027,GSM2387022,GSM2387033,GSM2387049,GSM2387050,GSM2387038,GSM2387039,GSM2387030,GSM2387034,GSM2387051
0,cg00000029,0.625562,0.650194,0.596008,0.602039,0.702519,0.615648,0.616851,0.601313,0.613922,0.610968,0.620260,0.563386,0.611535,0.657506,0.641900,0.558223
1,cg00000108,0.250726,0.503290,0.515183,0.543954,0.453558,0.490561,0.486060,0.522021,0.390404,0.439655,0.498868,0.501080,0.378201,0.382565,0.421925,0.395469

In [4]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE89702
df2 = pd.read_csv('GSE89702_Schiz.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE89702
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2387041,GSM2387029,GSM2387043,GSM2387024,GSM2387028,GSM2387035,GSM2387027,GSM2387022,GSM2387033,GSM2387049,GSM2387050,GSM2387038,GSM2387039,GSM2387030,GSM2387034,GSM2387051
0,cg00000029,0.625562,0.650194,0.596008,0.602039,0.702519,0.615648,0.616851,0.601313,0.613922,0.610968,0.620260,0.563386,0.611535,0.657506,0.641900,0.558223
1,cg00000108,0.250726,0.503290,0.515183,0.543954,0.453558,0.490561,0.486060,0.522021,0.390404,0.439655,0.498868,0.501080,0.378201,0.382565,0.421925,0.395469

In [5]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE89702_Top2b_Schiz.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4195, 17)

,CpG,GSM2387041,GSM2387029,GSM2387043,GSM2387024,GSM2387028,GSM2387035,GSM2387027,GSM2387022,GSM2387033,GSM2387049,GSM2387050,GSM2387038,GSM2387039,GSM2387030,GSM2387034,GSM2387051
0,cg00005072,0.787053,0.830482,0.804333,0.794817,0.806938,0.797755,0.823146,0.808488,0.822815,0.821071,0.769289,0.811635,0.795568,0.778230,0.821476,0.817665
1,cg00010266,0.062235,0.062107,0.066297,0.066448,0.066349,0.047793,0.053325,0.066894,0.055380,0.058291,0.065523,0.063300,0.059993,0.061548,0.064718,0.059037