In [1]:
%cd Z:\Project_Top2B\April_2023\GSE66351
import pandas as pd

df = pd.read_csv('GSE66351.csv')
print(df.shape)
df.head(2)

Z:\Project_Top2B\April_2023\GSE66351
(481868, 191)

,ID_REF,GSM2808875,GSM2808876,GSM2808877,GSM2808878,GSM2808879,GSM2808880,GSM2808881,GSM2808882,GSM2808883,...,GSM2809055,GSM2809056,GSM2809057,GSM2809058,GSM2809059,GSM2809060,GSM2809061,GSM2809062,GSM2809063,GSM2809064
0,cg00000029,0.52498,0.57154,0.50926,0.56444,0.49958,0.58484,0.60115,0.59358,0.56512,...,0.48241,0.60848,0.52402,0.51866,0.46051,0.54498,0.50497,0.55108,0.52447,0.57490
1,cg00000108,0.89834,0.88266,0.90962,0.88444,0.92342,0.90303,0.92504,0.91305,0.93228,...,0.91696,0.88302,0.90212,0.91770,0.92657,0.94262,0.92431,0.92042,0.91676,0.89111

In [2]:
df2 = pd.read_csv('GSE66351_Age_AD.csv')
df2.head(2)

    Sample_ID  Age
0  GSM2808875   78
1  GSM2808876   78

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE66351_AD.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(481868, 107)

,ID_REF,GSM2809030,GSM2808878,GSM2809044,GSM2809001,GSM2808875,GSM2808880,GSM2809040,GSM2808979,GSM2809048,...,GSM2808876,GSM2809064,GSM2808914,GSM2808933,GSM2809029,GSM2808939,GSM2809058,GSM2808982,GSM2808888,GSM2808884
0,cg00000029,0.52619,0.56444,0.48346,0.57450,0.52498,0.58484,0.57851,0.60138,0.62527,...,0.57154,0.57490,0.56764,0.48845,0.47962,0.55162,0.51866,0.58155,0.62501,0.54256
1,cg00000108,0.93077,0.88444,0.90321,0.90654,0.89834,0.90303,0.94147,0.89576,0.92617,...,0.88266,0.89111,0.94595,0.95004,0.91548,0.91765,0.91770,0.93280,0.90766,0.92319

In [5]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE66351
df2 = pd.read_csv('GSE66351_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE66351
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2809030,GSM2808878,GSM2809044,GSM2809001,GSM2808875,GSM2808880,GSM2809040,GSM2808979,GSM2809048,...,GSM2808876,GSM2809064,GSM2808914,GSM2808933,GSM2809029,GSM2808939,GSM2809058,GSM2808982,GSM2808888,GSM2808884
0,cg00000029,0.52619,0.56444,0.48346,0.57450,0.52498,0.58484,0.57851,0.60138,0.62527,...,0.57154,0.57490,0.56764,0.48845,0.47962,0.55162,0.51866,0.58155,0.62501,0.54256
1,cg00000108,0.93077,0.88444,0.90321,0.90654,0.89834,0.90303,0.94147,0.89576,0.92617,...,0.88266,0.89111,0.94595,0.95004,0.91548,0.91765,0.91770,0.93280,0.90766,0.92319

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE66351_AD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4585, 107)

,CpG,GSM2809030,GSM2808878,GSM2809044,GSM2809001,GSM2808875,GSM2808880,GSM2809040,GSM2808979,GSM2809048,...,GSM2808876,GSM2809064,GSM2808914,GSM2808933,GSM2809029,GSM2808939,GSM2809058,GSM2808982,GSM2808888,GSM2808884
0,cg00005072,0.802860,0.799600,0.735050,0.714250,0.417330,0.790510,0.730530,0.663170,0.693930,...,0.804980,0.727260,0.808140,0.457580,0.69956,0.649190,0.699990,0.671800,0.823790,0.824500
1,cg00010266,0.046639,0.084318,0.067466,0.065108,0.071659,0.082877,0.058423,0.063673,0.053241,...,0.081733,0.050782,0.051656,0.063702,0.03603,0.069886,0.039387,0.065457,0.052804,0.060649