In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE80970
df2 = pd.read_csv('GSE80970_Age_AD.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE80970

    Sample_ID  Age
0  GSM2139213   99
1  GSM2139215   81

In [2]:
df = pd.read_csv('GSE80970.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 287)

,ID_REF,GSM2139163,GSM2139164,GSM2139165,GSM2139166,GSM2139167,GSM2139168,GSM2139169,GSM2139170,GSM2139171,...,GSM2139439,GSM2139440,GSM2139441,GSM2139442,GSM2139443,GSM2139444,GSM2139445,GSM2139446,GSM2139447,GSM2139448
0,cg00000029,0.59167,0.61134,0.52240,0.55689,0.66928,0.58430,0.65559,0.56454,0.59747,...,0.57535,0.53849,0.56029,0.54251,0.56040,0.56794,0.53911,0.56632,0.55618,0.61339
1,cg00000108,0.86955,0.87228,0.82742,0.89817,0.88524,0.87428,0.87558,0.87773,0.90295,...,0.85238,0.87738,0.87293,0.86766,0.86143,0.88927,0.89422,0.90161,0.86389,0.90964

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE80970_AD.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 149)

,ID_REF,GSM2139439,GSM2139178,GSM2139208,GSM2139318,GSM2139334,GSM2139423,GSM2139311,GSM2139387,GSM2139360,...,GSM2139333,GSM2139364,GSM2139168,GSM2139385,GSM2139359,GSM2139391,GSM2139343,GSM2139351,GSM2139172,GSM2139290
0,cg00000029,0.57535,0.50185,0.63861,0.60910,0.54479,0.66499,0.62575,0.56045,0.66727,...,0.49891,0.64048,0.58430,0.60389,0.68178,0.57719,0.54735,0.59905,0.68254,0.66824
1,cg00000108,0.85238,0.82204,0.90699,0.90221,0.86310,0.89751,0.88221,0.89087,0.90622,...,0.91770,0.88481,0.87428,0.86726,0.90518,0.89709,0.86689,0.86708,0.90090,0.90636

In [4]:
import pandas as pd

In [5]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE80970
df2 = pd.read_csv('GSE80970_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE80970
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2139439,GSM2139178,GSM2139208,GSM2139318,GSM2139334,GSM2139423,GSM2139311,GSM2139387,GSM2139360,...,GSM2139333,GSM2139364,GSM2139168,GSM2139385,GSM2139359,GSM2139391,GSM2139343,GSM2139351,GSM2139172,GSM2139290
0,cg00000029,0.57535,0.50185,0.63861,0.60910,0.54479,0.66499,0.62575,0.56045,0.66727,...,0.49891,0.64048,0.58430,0.60389,0.68178,0.57719,0.54735,0.59905,0.68254,0.66824
1,cg00000108,0.85238,0.82204,0.90699,0.90221,0.86310,0.89751,0.88221,0.89087,0.90622,...,0.91770,0.88481,0.87428,0.86726,0.90518,0.89709,0.86689,0.86708,0.90090,0.90636

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE80970_AD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 149)

,CpG,GSM2139439,GSM2139178,GSM2139208,GSM2139318,GSM2139334,GSM2139423,GSM2139311,GSM2139387,GSM2139360,...,GSM2139333,GSM2139364,GSM2139168,GSM2139385,GSM2139359,GSM2139391,GSM2139343,GSM2139351,GSM2139172,GSM2139290
0,cg00005072,0.69165,0.69371,0.75673,0.71467,0.71494,0.78575,0.68825,0.66016,0.70159,...,0.73329,0.70755,0.6762,0.65605,0.76630,0.72722,0.68691,0.69993,0.71026,0.77407
1,cg00010266,0.08217,0.08946,0.08562,0.12013,0.10233,0.07697,0.09464,0.08476,0.09508,...,0.07359,0.06821,0.1059,0.06971,0.08682,0.07333,0.07303,0.07057,0.07381,0.08538