In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE134379

# Define the input and output file paths
input_file = "GSE134379_processedSamples_mtgND.txt"
output_file = "GSE134379_mtg.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE134379

In [2]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE134379_mtg.csv')
df = df[df.columns.drop(list(df.filter(regex='Value')))]
df.columns = df.columns.str.replace('Beta_value_for_', '')
print(df.shape)
df.head(2)

(389849, 180)

,CpG,MTG_0888,MTG_0877,MTG_0872,MTG_9709,MTG_9710,MTG_9714,MTG_9737,MTG_9827,MTG_9430,...,MTG_0770,MTG_0835,MTG_0408,MTG_0131,MTG_0049,MTG_0034,MTG_0421,MTG_0136,MTG_9521,MTG_9534
0,cg13869341,0.876345,0.894546,0.910794,0.835754,0.889163,0.848577,0.909181,0.895733,0.865529,...,0.899067,0.853933,0.873882,0.885884,0.811444,0.913819,0.961728,0.863115,0.908875,0.873827
1,cg14008030,0.762582,0.774453,0.835854,0.708538,0.775784,0.765766,0.743992,0.683552,0.776064,...,0.799644,0.702912,0.714332,0.786975,0.670660,0.791667,0.716594,0.777001,0.769473,0.719500

In [3]:
df2 = pd.read_csv('GSE134379_Age_MTG.csv')
df2.head(2)

     Sample  Age
0  MTG_0003   94
1  MTG_0004   79

In [8]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='CpG', value=df.iloc[:, 0])

df_subset.to_csv('GSE134379_mtg_noPval.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(389849, 180)

,CpG,MTG_0627,MTG_9944,MTG_0151,MTG_9210,MTG_9638,MTG_9929,MTG_9737,MTG_9710,MTG_0823,...,MTG_0528,MTG_0847,MTG_0347,MTG_0328,MTG_0728,MTG_0872,MTG_0212,MTG_0123,MTG_0840,MTG_0718
0,cg13869341,0.890776,0.894131,0.829700,0.945624,0.843384,0.916114,0.909181,0.889163,0.876117,...,0.934621,0.859506,0.918168,0.933138,0.915690,0.910794,0.935433,0.864995,0.940675,0.900047
1,cg14008030,0.742390,0.744722,0.755816,0.784775,0.730901,0.814013,0.743992,0.775784,0.679173,...,0.802225,0.764870,0.731493,0.652368,0.749041,0.835854,0.769564,0.741798,0.762381,0.775003

## Subsetting only Top 2 beta associated CpGs

In [2]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE134379
df2 = pd.read_csv('GSE134379_mtg_noPval.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE134379
          CpG
0  cg00005072
1  cg00010266

,CpG,MTG_0627,MTG_9944,MTG_0151,MTG_9210,MTG_9638,MTG_9929,MTG_9737,MTG_9710,MTG_0823,...,MTG_0528,MTG_0847,MTG_0347,MTG_0328,MTG_0728,MTG_0872,MTG_0212,MTG_0123,MTG_0840,MTG_0718
0,cg13869341,0.890776,0.894131,0.829700,0.945624,0.843384,0.916114,0.909181,0.889163,0.876117,...,0.934621,0.859506,0.918168,0.933138,0.915690,0.910794,0.935433,0.864995,0.940675,0.900047
1,cg14008030,0.742390,0.744722,0.755816,0.784775,0.730901,0.814013,0.743992,0.775784,0.679173,...,0.802225,0.764870,0.731493,0.652368,0.749041,0.835854,0.769564,0.741798,0.762381,0.775003

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, on ='CpG', how ='inner')
merged_df.to_csv('GSE134379_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(3986, 180)

,CpG,MTG_0627,MTG_9944,MTG_0151,MTG_9210,MTG_9638,MTG_9929,MTG_9737,MTG_9710,MTG_0823,...,MTG_0528,MTG_0847,MTG_0347,MTG_0328,MTG_0728,MTG_0872,MTG_0212,MTG_0123,MTG_0840,MTG_0718
0,cg00005072,0.754153,0.711935,0.728475,0.732763,0.678354,0.738881,0.729346,0.752514,0.739773,...,0.722350,0.730740,0.731962,0.717506,0.801995,0.815217,0.770908,0.806184,0.709686,0.750170
1,cg00017203,0.873060,0.902388,0.858663,0.890199,0.883744,0.880786,0.913245,0.912551,0.884010,...,0.825576,0.871313,0.908473,0.853386,0.920529,0.914855,0.926308,0.878458,0.886929,0.894887

In [2]:
%cd Z:\Project_Top2B\April_2023\GSE134379
import pandas as prash

df1 = prash.read_csv('GSE134379_Age_MTG.csv')
df2 = prash.read_csv('GSE134379_mtg_Top2b_Age.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023\GSE134379
     Sample  Age
0  MTG_0003   94
1  MTG_0004   79

,CpG,cg00005072,cg00017203,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,cg00034416,cg00034468,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,MTG_0003,0.706821,0.879793,0.017474,0.923625,0.953586,0.029050,0.019156,0.012874,0.265021,...,0.087032,0.927645,0.039242,0.286480,0.856115,0.941697,0.144495,0.026715,0.036353,0.936022
1,MTG_0015,0.764827,0.905494,0.019431,0.941977,0.957638,0.039466,0.021081,0.012054,0.309944,...,0.084783,0.922421,0.049925,0.389166,0.850018,0.959982,0.172230,0.025220,0.033350,0.962686

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = prash.merge(df1, df2, left_on ='Sample', right_on = 'CpG', how ='inner')
merged_df.to_csv('GSE134379_mtg_Top2b_Age.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(179, 3989)

,Sample,Age,CpG,cg00005072,cg00017203,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,MTG_0003,94,MTG_0003,0.706821,0.879793,0.017474,0.923625,0.953586,0.029050,0.019156,...,0.087032,0.927645,0.039242,0.286480,0.856115,0.941697,0.144495,0.026715,0.036353,0.936022
1,MTG_0015,94,MTG_0015,0.764827,0.905494,0.019431,0.941977,0.957638,0.039466,0.021081,...,0.084783,0.922421,0.049925,0.389166,0.850018,0.959982,0.172230,0.025220,0.033350,0.962686