## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE105109

df1 = pd.read_csv('GSE105109_Age_tl_hc.csv')
df2 = pd.read_csv('GSE105109_Top2b_Age.csv')

merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE105109_Top2b_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE105109
(52, 3825)

,Sample_ID,Age_x,Age_y,cg00010266,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,cg00029353,...,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,3999337016_R03C01,76,76,0.041097,0.161238,0.059645,0.689101,0.619023,0.047333,0.036826,...,0.086549,0.078885,0.109174,0.107203,0.658250,0.703960,0.199443,0.106435,0.051408,0.728964
1,3999337016_R03C02,76,76,0.062818,0.224276,0.057338,0.755215,0.710585,0.043740,0.047684,...,0.174953,0.113788,0.155716,0.098887,0.662789,0.842592,0.252962,0.127296,0.040384,0.758868

## Diseased

In [3]:
df1 = pd.read_csv('GSE105109_Age_tl_AD.csv')
df2 = pd.read_csv('GSE105109_Top2b_AD.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE105109_Top2b_AD_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(126, 3824)

,Sample_ID,Age,cg00010266,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,cg00029353,cg00030423,...,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,3999337016_R01C01,92,0.047667,0.087954,0.062200,0.651978,0.731518,0.053495,0.051539,0.053709,...,0.087040,0.066253,0.116202,0.158868,0.526152,0.720505,0.185803,0.073734,0.043277,0.721970
1,3999337016_R01C02,92,0.045640,0.130746,0.059085,0.754215,0.663855,0.047356,0.048407,0.051867,...,0.108452,0.064713,0.155409,0.289479,0.617509,0.694182,0.235797,0.114363,0.065237,0.757958