In [2]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE89702

df2 = pd.read_csv('GSE89702_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE89702

    Sample_ID      Age
0  GSM2387020  age: 37
1  GSM2387021  age: 33

In [3]:
df = pd.read_csv('GSE89702.csv')

print(df.shape)
df.head(2)

(417039, 34)

,ID_REF,GSM2387020,GSM2387021,GSM2387022,GSM2387023,GSM2387024,GSM2387025,GSM2387026,GSM2387027,GSM2387028,...,GSM2387043,GSM2387044,GSM2387045,GSM2387046,GSM2387047,GSM2387048,GSM2387049,GSM2387050,GSM2387051,GSM2387052
0,cg00000029,0.474240,0.682204,0.601313,0.641128,0.602039,0.624226,0.604055,0.616851,0.702519,...,0.596008,0.674298,0.606934,0.684806,0.607306,0.632163,0.610968,0.620260,0.558223,0.689555
1,cg00000108,0.358991,0.540388,0.522021,0.468465,0.543954,0.406051,0.469489,0.486060,0.453558,...,0.515183,0.455577,0.475106,0.616097,0.581547,0.340054,0.439655,0.498868,0.395469,0.514606

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE89702_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(417039, 18)

,ID_REF,GSM2387036,GSM2387045,GSM2387047,GSM2387023,GSM2387021,GSM2387052,GSM2387020,GSM2387025,GSM2387032,GSM2387040,GSM2387048,GSM2387037,GSM2387026,GSM2387046,GSM2387031,GSM2387042,GSM2387044
0,cg00000029,0.658388,0.606934,0.607306,0.641128,0.682204,0.689555,0.474240,0.624226,0.514447,0.665942,0.632163,0.710336,0.604055,0.684806,0.641049,0.463167,0.674298
1,cg00000108,0.339716,0.475106,0.581547,0.468465,0.540388,0.514606,0.358991,0.406051,0.386745,0.472248,0.340054,0.435063,0.469489,0.616097,0.513566,0.271683,0.455577

In [1]:
import pandas as pd

In [2]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE89702
df2 = pd.read_csv('GSE89702_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE89702
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2387036,GSM2387045,GSM2387047,GSM2387023,GSM2387021,GSM2387052,GSM2387020,GSM2387025,GSM2387032,GSM2387040,GSM2387048,GSM2387037,GSM2387026,GSM2387046,GSM2387031,GSM2387042,GSM2387044
0,cg00000029,0.658388,0.606934,0.607306,0.641128,0.682204,0.689555,0.474240,0.624226,0.514447,0.665942,0.632163,0.710336,0.604055,0.684806,0.641049,0.463167,0.674298
1,cg00000108,0.339716,0.475106,0.581547,0.468465,0.540388,0.514606,0.358991,0.406051,0.386745,0.472248,0.340054,0.435063,0.469489,0.616097,0.513566,0.271683,0.455577

In [3]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE89702_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4195, 18)

,CpG,GSM2387036,GSM2387045,GSM2387047,GSM2387023,GSM2387021,GSM2387052,GSM2387020,GSM2387025,GSM2387032,GSM2387040,GSM2387048,GSM2387037,GSM2387026,GSM2387046,GSM2387031,GSM2387042,GSM2387044
0,cg00005072,0.804450,0.768928,0.81037,0.817590,0.738907,0.811635,0.690982,0.811695,0.818060,0.765141,0.797591,0.801034,0.796835,0.784757,0.786759,0.769407,0.800781
1,cg00010266,0.059486,0.059076,0.06216,0.070932,0.055882,0.055867,0.063456,0.063908,0.063836,0.048229,0.044721,0.066665,0.064728,0.058653,0.068344,0.066819,0.070943