## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE125895

df1 = pd.read_csv('GSE125895_Age_fl_hc.csv')
df2 = pd.read_csv('GSE125895_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE125895

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,1-A04,64.91,0.807901,0.067467,0.825659,0.129370,0.072238,0.880359,0.898375,0.072833,...,0.087869,0.834280,0.173457,0.154876,0.839205,0.905384,0.407477,0.114316,0.073078,0.834245
1,1-A09,52.61,0.803498,0.055310,0.821382,0.171889,0.080689,0.895274,0.900701,0.043921,...,0.085742,0.849105,0.184509,0.151830,0.834096,0.944170,0.386832,0.028045,0.076066,0.866834

In [2]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE125895_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(47, 4240)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,1-C03,54.42,54.42,0.651923,0.063828,0.835397,0.187917,0.075207,0.868758,0.884917,...,0.092458,0.880046,0.149922,0.239987,0.659797,0.902296,0.312264,0.138448,0.062779,0.886348
1,1-C04,56.09,56.09,0.731278,0.054800,0.824053,0.155181,0.102861,0.876451,0.892692,...,0.110761,0.907208,0.119106,0.211814,0.695809,0.912159,0.419864,0.075065,0.062662,0.895863

## Diseased

In [3]:

df1 = pd.read_csv('GSE125895_Age_fl_AD.csv')
df2 = pd.read_csv('GSE125895_AD_Top2b_Age.csv')

merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE125895_Top2b_AD_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(21, 4240)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,1-C02,64.96,64.96,0.726166,0.060089,0.821222,0.166771,0.097533,0.862065,0.858398,...,0.106462,0.889737,0.122829,0.261053,0.754154,0.883391,0.331506,0.114186,0.068204,0.900717
1,1-C05,85.05,85.05,0.592349,0.067901,0.781295,0.149760,0.057989,0.812216,0.851377,...,0.102597,0.804060,0.165236,0.283086,0.734639,0.901407,0.367326,0.170239,0.052291,0.860819