In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE67748
df2 = pd.read_csv('GSE67748_HIV_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE67748

    Sample_ID  Age
0  GSM1655144   34
1  GSM1655145   61

In [2]:
df = pd.read_csv('GSE67748.csv')

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 21)

,ID_REF,GSM1655132,GSM1655133,GSM1655134,GSM1655135,GSM1655136,GSM1655137,GSM1655138,GSM1655139,GSM1655140,...,GSM1655142,GSM1655143,GSM1655144,GSM1655145,GSM1655146,GSM1655147,GSM1655148,GSM1655149,GSM1655150,GSM1655151
0,cg00000029,0.656940,0.663835,0.56783,0.635453,0.663030,0.590343,0.534954,0.635075,0.668432,...,0.613317,0.673378,0.679950,0.708901,0.669132,0.662320,0.696777,0.687843,0.795708,0.765949
1,cg00000108,0.445932,0.383792,0.56937,0.519582,0.527984,0.515181,0.313452,0.502505,0.497066,...,0.497425,0.384306,0.516241,0.497656,0.393487,0.356682,0.295121,0.385631,0.494823,0.568597

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE67748_HIV.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 8)

,ID_REF,GSM1655148,GSM1655149,GSM1655150,GSM1655144,GSM1655145,GSM1655146,GSM1655147
0,cg00000029,0.696777,0.687843,0.795708,0.679950,0.708901,0.669132,0.662320
1,cg00000108,0.295121,0.385631,0.494823,0.516241,0.497656,0.393487,0.356682

In [4]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE67748
df2 = pd.read_csv('GSE67748_HIV.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE67748
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1655148,GSM1655149,GSM1655150,GSM1655144,GSM1655145,GSM1655146,GSM1655147
0,cg00000029,0.696777,0.687843,0.795708,0.679950,0.708901,0.669132,0.662320
1,cg00000108,0.295121,0.385631,0.494823,0.516241,0.497656,0.393487,0.356682

In [5]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE67748_HIV_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 8)

,CpG,GSM1655148,GSM1655149,GSM1655150,GSM1655144,GSM1655145,GSM1655146,GSM1655147
0,cg00005072,0.788510,0.782693,0.852385,0.820295,0.809715,0.853793,0.672978
1,cg00010266,0.051032,0.038005,0.056619,0.082206,0.060922,0.039482,0.039182