In [2]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE80970

# Define the input and output file paths
input_file = "GSE80970_series.txt"
output_file = "GSE80970.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE80970

In [4]:
import re

# Define the input and output file paths
input_file = "GSE80970.txt"
output_file = "GSE80970_Age.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [5]:
df2 = pd.read_csv('GSE80970_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM2139344   75
1  GSM2139345   85

In [8]:
df = pd.read_csv('GSE80970.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 287)

,ID_REF,GSM2139163,GSM2139164,GSM2139165,GSM2139166,GSM2139167,GSM2139168,GSM2139169,GSM2139170,GSM2139171,...,GSM2139439,GSM2139440,GSM2139441,GSM2139442,GSM2139443,GSM2139444,GSM2139445,GSM2139446,GSM2139447,GSM2139448
0,cg00000029,0.59167,0.61134,0.52240,0.55689,0.66928,0.58430,0.65559,0.56454,0.59747,...,0.57535,0.53849,0.56029,0.54251,0.56040,0.56794,0.53911,0.56632,0.55618,0.61339
1,cg00000108,0.86955,0.87228,0.82742,0.89817,0.88524,0.87428,0.87558,0.87773,0.90295,...,0.85238,0.87738,0.87293,0.86766,0.86143,0.88927,0.89422,0.90161,0.86389,0.90964

In [9]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE80970_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 139)

,ID_REF,GSM2139230,GSM2139314,GSM2139249,GSM2139435,GSM2139234,GSM2139267,GSM2139347,GSM2139398,GSM2139373,...,GSM2139262,GSM2139448,GSM2139302,GSM2139315,GSM2139296,GSM2139244,GSM2139210,GSM2139286,GSM2139338,GSM2139198
0,cg00000029,0.5726,0.60822,0.54544,0.51888,0.57294,0.48843,0.57410,0.47805,0.50012,...,0.55740,0.61339,0.59884,0.62449,0.57743,0.60654,0.60778,0.62244,0.44193,0.52545
1,cg00000108,0.8717,0.90701,0.88034,0.87881,0.90433,0.86490,0.89971,0.85590,0.87755,...,0.90405,0.90964,0.91638,0.91147,0.87507,0.89230,0.89146,0.80596,0.87110,0.84939

In [1]:
import pandas as pd

In [2]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE80970
df2 = pd.read_csv('GSE80970_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE80970
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM2139230,GSM2139314,GSM2139249,GSM2139435,GSM2139234,GSM2139267,GSM2139347,GSM2139398,GSM2139373,...,GSM2139262,GSM2139448,GSM2139302,GSM2139315,GSM2139296,GSM2139244,GSM2139210,GSM2139286,GSM2139338,GSM2139198
0,cg00000029,0.5726,0.60822,0.54544,0.51888,0.57294,0.48843,0.57410,0.47805,0.50012,...,0.55740,0.61339,0.59884,0.62449,0.57743,0.60654,0.60778,0.62244,0.44193,0.52545
1,cg00000108,0.8717,0.90701,0.88034,0.87881,0.90433,0.86490,0.89971,0.85590,0.87755,...,0.90405,0.90964,0.91638,0.91147,0.87507,0.89230,0.89146,0.80596,0.87110,0.84939

In [3]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE80970_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 139)

,CpG,GSM2139230,GSM2139314,GSM2139249,GSM2139435,GSM2139234,GSM2139267,GSM2139347,GSM2139398,GSM2139373,...,GSM2139262,GSM2139448,GSM2139302,GSM2139315,GSM2139296,GSM2139244,GSM2139210,GSM2139286,GSM2139338,GSM2139198
0,cg00005072,0.73139,0.72092,0.66413,0.69732,0.70463,0.66667,0.77796,0.6995,0.65065,...,0.70539,NaN,0.72064,0.73823,0.70903,0.64649,0.76653,0.68334,0.68203,0.67210
1,cg00010266,0.13096,0.08977,0.08741,0.06826,0.09115,0.07257,0.07703,0.0743,0.08576,...,0.09529,NaN,0.06957,0.10228,0.09363,0.06775,0.08815,0.08436,0.06391,0.07214