## Healthy

In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE80970

df1 = pd.read_csv('GSE80970_Age_tl_hc.csv')
df2 = pd.read_csv('GSE80970_Top2b_Age.csv')

merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE80970_Top2b_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

Z:\Project_Top2B\April_2023\regionwise\temporal_lobe\GSE80970
(70, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2139209,79,79,0.69285,0.08947,0.84640,0.18125,0.04574,0.86359,0.83366,...,0.13563,0.91700,0.11089,0.31096,0.71026,0.90972,0.24488,0.07990,0.10088,0.88951
1,GSM2139210,78,78,0.76653,0.08815,0.84588,0.18620,0.04285,0.83213,0.85915,...,0.15251,0.88306,0.12281,0.37965,0.69608,0.90968,0.23091,0.08565,0.12355,0.88208

## Diseased

In [2]:
df1 = pd.read_csv('GSE80970_Age_tl_AD.csv')
df2 = pd.read_csv('GSE80970_AD_Top2b.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE80970_Top2b_AD_tl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(74, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM2139213,99,99,0.72912,0.10960,0.82849,0.23259,0.04213,0.87145,0.86654,...,0.13049,0.87597,0.10523,0.35998,0.66606,0.91560,0.23360,0.08629,0.10162,0.88985
1,GSM2139214,87,87,0.72272,0.11823,0.77437,0.23101,0.04673,0.86301,0.86721,...,0.15838,0.88192,0.11199,0.33136,0.74591,0.90182,0.21383,0.08631,0.12864,0.88223