## Healthy

In [3]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE53162

df1 = pd.read_csv('GSE53162_Age_fl_hc.csv')
df2 = pd.read_csv('GSE53162_Top2b_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\regionwise\frontal_lobe\GSE53162

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283235,22,0.721249,0.064023,0.836555,0.157876,0.059223,0.860197,0.872213,0.098166,...,0.108938,0.861804,0.155002,0.221991,0.708595,0.913435,0.369032,0.100492,0.058411,0.886821
1,GSM1283237,36,0.746615,0.081757,0.810387,0.146348,0.064788,0.866343,0.880017,0.088603,...,0.093444,0.890152,0.159553,0.277987,0.618944,0.888564,0.415767,0.115712,0.080283,0.888304

In [4]:
merged_df = pd.merge(df1, df2, how ='inner', on = df1.columns[0])
merged_df.to_csv('GSE53162_Top2b_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(5, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283235,22,22,0.721249,0.064023,0.836555,0.157876,0.059223,0.860197,0.872213,...,0.108938,0.861804,0.155002,0.221991,0.708595,0.913435,0.369032,0.100492,0.058411,0.886821
1,GSM1283237,36,36,0.746615,0.081757,0.810387,0.146348,0.064788,0.866343,0.880017,...,0.093444,0.890152,0.159553,0.277987,0.618944,0.888564,0.415767,0.115712,0.080283,0.888304

## Diseased

In [5]:
df1 = pd.read_csv('GSE53162_Age_fl_Auti.csv')
df2 = pd.read_csv('GSE53162_Auti_Top2b.csv')
merged_df = pd.merge(df1, df2, how ='inner', on = 'Sample_ID')
merged_df.to_csv('GSE53162_Top2b_AD_fl.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(6, 4607)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,GSM1283234,16,16,0.707072,0.076650,0.850577,0.110745,0.066427,0.880154,0.850857,...,0.098921,0.900124,0.173585,0.223745,0.633213,0.876090,0.368885,0.072718,0.074588,0.891898
1,GSM1283236,29,29,0.727061,0.075801,0.849964,0.148704,0.057393,0.852772,0.834041,...,0.095269,0.878801,0.167243,0.286318,0.773330,0.885375,0.399059,0.139037,0.063738,0.879735