In [1]:
%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE61431
import pandas as pd

Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE61431

In [2]:
df1 = pd.read_csv('GSE61431_Age_Diseased_cb.csv')
df1.head(2)

           Sample_ID  Age
0  6042316024_R01C01   31
1  6042316024_R02C01   62

In [3]:

df2 = pd.read_csv('GSE61431_Schiz_Top2b.csv')

print(df1.head(2))
df2.head(2)

           Sample_ID  Age
0  6042316024_R01C01   31
1  6042316024_R02C01   62

,Sample_ID,Age,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,6042316024_R01C01,31,0.769095,0.085676,0.839425,0.117947,0.047253,0.813559,0.851394,0.06690,...,0.101188,0.817182,0.144323,0.168576,0.839959,0.885931,0.265224,0.116023,0.116966,0.841233
1,6042316024_R02C01,62,0.798984,0.055825,0.863604,0.130488,0.055747,0.833906,0.874162,0.06462,...,0.122815,0.890151,0.131679,0.106851,0.869276,0.904589,0.238887,0.094300,0.103286,0.880248

In [5]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', on='Sample_ID')

# Drop the common column 'ID_REF'
#merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE61431_Schiz_Top2b_cb.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(21, 4352)

,Sample_ID,Age_x,Age_y,cg00005072,cg00010266,cg00017203,cg00017489,cg00018024,cg00018539,cg00019511,...,cg27597926,cg27598168,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,6042316024_R01C01,31,31,0.769095,0.085676,0.839425,0.117947,0.047253,0.813559,0.851394,...,0.101188,0.817182,0.144323,0.168576,0.839959,0.885931,0.265224,0.116023,0.116966,0.841233
1,6042316024_R02C01,62,62,0.798984,0.055825,0.863604,0.130488,0.055747,0.833906,0.874162,...,0.122815,0.890151,0.131679,0.106851,0.869276,0.904589,0.238887,0.094300,0.103286,0.880248