In [1]:
%cd Z:\Project_Top2B\April_2023\GSE40360
import pandas as pd

Z:\Project_Top2B\April_2023\GSE40360

In [2]:
df2 = pd.read_csv('GSE40360_Age.csv')
df2.head(2)

   Sample_ID  Age
0  GSM992014   54
1  GSM992015   76

In [3]:
df = pd.read_csv('GSE40360.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(481917, 48)

,ID_REF,GSM991986,GSM991987,GSM991988,GSM991989,GSM991990,GSM991991,GSM991992,GSM991993,GSM991994,...,GSM992023,GSM992024,GSM992025,GSM992026,GSM992027,GSM992028,GSM992029,GSM992030,GSM992031,GSM992032
0,cg00000029,0.683853,0.733556,0.590328,0.638373,0.613812,0.720735,0.524450,0.624562,0.674623,...,0.677107,0.629602,0.585188,0.492750,0.638627,0.563387,0.614381,0.669685,0.559711,0.582355
1,cg00000108,0.932607,0.955674,0.963023,0.918614,0.951447,0.956555,0.948158,0.956308,0.968683,...,0.951001,0.967597,0.958379,0.975278,0.929730,0.946653,0.931855,0.932677,0.957040,0.966770

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE40360_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(481917, 20)

,ID_REF,GSM992030,GSM992020,GSM992019,GSM992027,GSM992022,GSM992021,GSM992015,GSM992014,GSM992023,GSM992025,GSM992029,GSM992024,GSM992016,GSM992018,GSM992017,GSM992031,GSM992028,GSM992026,GSM992032
0,cg00000029,0.669685,0.641812,0.636325,0.638627,0.621240,0.739102,0.728446,0.774960,0.677107,0.585188,0.614381,0.629602,0.702047,0.660504,0.654440,0.559711,0.563387,0.492750,0.582355
1,cg00000108,0.932677,0.950772,0.940348,0.929730,0.919669,0.951267,0.943748,0.948195,0.951001,0.958379,0.931855,0.967597,0.958313,0.907150,0.992018,0.957040,0.946653,0.975278,0.966770

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE40360
df2 = pd.read_csv('GSE40360_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE40360
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM992030,GSM992020,GSM992019,GSM992027,GSM992022,GSM992021,GSM992015,GSM992014,GSM992023,GSM992025,GSM992029,GSM992024,GSM992016,GSM992018,GSM992017,GSM992031,GSM992028,GSM992026,GSM992032
0,cg00000029,0.669685,0.641812,0.636325,0.638627,0.621240,0.739102,0.728446,0.774960,0.677107,0.585188,0.614381,0.629602,0.702047,0.660504,0.654440,0.559711,0.563387,0.492750,0.582355
1,cg00000108,0.932677,0.950772,0.940348,0.929730,0.919669,0.951267,0.943748,0.948195,0.951001,0.958379,0.931855,0.967597,0.958313,0.907150,0.992018,0.957040,0.946653,0.975278,0.966770

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE40360_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 20)

,CpG,GSM992030,GSM992020,GSM992019,GSM992027,GSM992022,GSM992021,GSM992015,GSM992014,GSM992023,GSM992025,GSM992029,GSM992024,GSM992016,GSM992018,GSM992017,GSM992031,GSM992028,GSM992026,GSM992032
0,cg00005072,0.857282,0.860535,0.867228,0.865162,0.825024,0.820649,0.85491,0.860223,0.857707,0.866915,0.876470,0.865427,0.881988,0.847931,0.883460,0.873808,0.868636,0.786318,0.904383
1,cg00010266,0.065911,0.075402,0.052596,0.044679,0.035992,0.044774,0.03882,0.051236,NaN,0.056133,0.052662,0.048636,0.036755,0.057492,0.045323,0.071522,0.038758,0.060811,0.037137